Source: yasm
Section: devel
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9), dh-autoreconf, autotools-dev,
               bison, gettext, xmlto
Standards-Version: 3.9.5
Vcs-Git: https://github.com/yasm/yasm-nextgen.git
Vcs-Browser: https://github.com/yasm/yasm-nextgen
Homepage: http://yasm.tortall.net/

Package: yasm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: modular assembler
 Yasm is a complete rewrite of the NASM assembler. It currently supports the
 x86 and AMD64 instruction sets, accepts NASM and GAS assembler syntaxes,
 outputs binary, ELF32, ELF64, 32 and 64-bit Mach-O, RDOFF2, COFF, Win32, and
 Win64 object formats, and generates source debugging information in STABS,
 DWARF 2, and CodeView 8 formats.
