#!/usr/bin/make -f

export CFLAGS = -Wall -O3 $(filter-out -g -O2, $(shell dpkg-buildflags --get CFLAGS))


%:
	dh ${@} --parallel --with autoreconf,autotools_dev

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/tmp

override_dh_compress:
	dh_compress -X.pdf

