Source: ffmpeg-static
Section: video
Priority: optional
Maintainer: djcj <djcj@gmx.de>
Standards-Version: 3.9.6
Vcs-Git: git://source.ffmpeg.org/ffmpeg.git
Vcs-Browser: http://git.videolan.org/?p=ffmpeg.git;a=tree
Homepage: http://johnvansickle.com/ffmpeg/
Build-Depends: debhelper (>= 9)

Package: ffmpeg-static
Architecture: amd64 i386
Depends: ${misc:Depends}
Description: Tools for transcoding, streaming and playing of multimedia files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This package contains:
  * ffmpeg: a command line tool to convert multimedia files between formats
  * ffserver: a multimedia streaming server for live broadcasts
  * ffplay: a simple media player based on SDL and the FFmpeg libraries
  * ffprobe: a simple multimedia stream analyzer
  * qt-faststart: a utility to rearrange a Quicktime file
