#!/usr/bin/make -f

VERSION = $(shell dpkg-parsechangelog -SVersion)


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf ffmpeg-git-*-static

override_dh_auto_build:
	tar xvf ffmpeg-static.tar.xz
	cd ffmpeg-git-*-static/ && \
	mv ffmpeg ffmpeg-static && \
	mv ffmpeg-10bit ffmpeg-10bit-static && \
	mv ffprobe ffprobe-static && \
	mv ffserver ffserver-static && \
	mv qt-faststart qt-faststart-static && \
	help2man -n ffmpeg -s1 -N -h "-h long" --version-string=$(VERSION) ./ffmpeg-static > ffmpeg-static.1 && \
	help2man -n ffmpeg -s1 -N -h "-h long" --version-string=$(VERSION) ./ffmpeg-10bit-static > ffmpeg-10bit-static.1 && \
	help2man -n ffprobe -s1 -N -h "-h" --version-string=$(VERSION) ./ffprobe-static > ffprobe-static.1

override_dh_compress:
	dh_compress -X.pdf

