Source: libbpg
Section: libs
Priority: optional
Maintainer: djcj <djcj@gmx.de>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 cmake (>= 2.8.8),
 libjpeg8-dev,
 libsdl1.2-dev,
 libsdl-image1.2-dev,
 yasm (>= 1.2.0),
 zlib1g-dev
Standards-Version: 3.9.5
Homepage: http://bellard.org/bpg/

Package: libbpg-bin
Section: graphics
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: tools for manipulating BPG image format files
 BPG (Better Portable Graphics) is a image format whose purpose is to
 replace the JPEG image format when quality or file size is an issue.
 .
 Its main advantages are:
  - High compression ratio. Files are much smaller than JPEG for similar
    quality.
  - Supported by most Web browsers with a small Javascript decoder.
  - Based on a subset of the HEVC open video compression standard.
  - Supports the same chroma formats as JPEG (grayscale, YCbCr 4:2:0,
    4:2:2, 4:4:4) to reduce the losses during the conversion. An alpha
    channel is supported. The RGB, YCgCo and CMYK color spaces are also
    supported.
  - Native support of 8 to 14 bits per channel for a higher dynamic
    range.
  - Lossless compression is supported.
  - Various metadata (such as EXIF, ICC profile, XMP) can be included.

Package: libbpg-dev
Section: libdevel
Architecture: any
Depends:
 ${misc:Depends},
 libpng16-dev
Description: library of functions for manipulating BPG image format files
 BPG (Better Portable Graphics) is a image format whose purpose is to
 replace the JPEG image format when quality or file size is an issue.
 .
 Its main advantages are:
  - High compression ratio. Files are much smaller than JPEG for similar
    quality.
  - Supported by most Web browsers with a small Javascript decoder.
  - Based on a subset of the HEVC open video compression standard.
  - Supports the same chroma formats as JPEG (grayscale, YCbCr 4:2:0,
    4:2:2, 4:4:4) to reduce the losses during the conversion. An alpha
    channel is supported. The RGB, YCgCo and CMYK color spaces are also
    supported.
  - Native support of 8 to 14 bits per channel for a higher dynamic
    range.
  - Lossless compression is supported.
  - Various metadata (such as EXIF, ICC profile, XMP) can be included.

Package: libjs-bpgdec
Section: web
Architecture: all
Depends:
 ${misc:Depends}
Description: Javascript decoder supporting the BPG file format
 BPG (Better Portable Graphics) is a image format whose purpose is to
 replace the JPEG image format when quality or file size is an issue.
 .
 Its main advantages are:
  - High compression ratio. Files are much smaller than JPEG for similar
    quality.
  - Supported by most Web browsers with a small Javascript decoder.
  - Based on a subset of the HEVC open video compression standard.
  - Supports the same chroma formats as JPEG (grayscale, YCbCr 4:2:0,
    4:2:2, 4:4:4) to reduce the losses during the conversion. An alpha
    channel is supported. The RGB, YCgCo and CMYK color spaces are also
    supported.
  - Native support of 8 to 14 bits per channel for a higher dynamic
    range.
  - Lossless compression is supported.
  - Various metadata (such as EXIF, ICC profile, XMP) can be included.

