[Desktop Entry]
Encoding=UTF-8
Name=CDE
Comment=Use this session to boot into the Common Desktop Environment
Exec=/usr/lib/dt/bin/start-cde-xsession
Icon=
Type=Application

