
/****************************************
  ==== RESETS
****************************************/

html,body,div,canvas { margin: 0; padding: 0; }
::-moz-selection { color: #333; text-shadow: none; }
::selection {  color: #333; text-shadow: none; }
.clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear { display: inline-table; clear: both; }
/* Hides from IE-mac \*/ * html .clear { height: 1%; } .clear { display: block; } /* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/

html, body { width: 100%; height: 100%; font-family: Helvetica, Verdana, Arial, sans-serif; }
body { background-color: #333333; }
p.header, p.footer { display: none; }
.template-wrap { margin: 1px 0 0px 0px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.template-wrap canvas { margin: 1px 0 0px 0px; position: relative; z-index: 9; box-shadow: 0 0px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0 0px 0px rgba(0,0,0,0.2); }
.fullscreen { float: right; position: relative; z-index: 10; }

body.template { overflow: -moz-scrollbars-vertical;
overflow-x: hidden;
overflow-y: hidden;}
.template .template-wrap { }
.template .template-wrap canvas { }

a:link, a:visited, a:hover, a:active { text-decoration: none; cursor: default; }

