Source: thegame
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9),
               libgl1-mesa-glx | libgl1
Standards-Version: 3.9.5
Homepage: http://www.piratehearts.com/

Package: thegame
Architecture: amd64
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: thegame, yhtwtg
Description: You Have to Win the Game
 Exploration platformer with a retro 1980s PC aesthetic.

Package: thegame-dbg
Architecture: amd64
Section: debug
Priority: extra
Depends: ${misc:Depends},
         thegame (= ${binary:Version})
Description: You Have to Win the Game (Debug)
 Exploration platformer with a retro 1980s PC aesthetic.
 .
 (this package contains the debug symbols)
