#!/usr/bin/make -f

CFLAGS  += -I$(CURDIR)/debian/alfont $(CPPFLAGS)
LDFLAGS += -Wl,--as-needed -L$(CURDIR)/debian/alfont


%:
	dh ${@} --parallel

override_dh_auto_clean:
	dh_auto_clean
	$(MAKE) -C debian/alfont clean

override_dh_auto_configure:

override_dh_auto_build:
	dh_auto_build -Ddebian/alfont
	mkdir build
	cd build && cmake $(CURDIR) \
		-DCMAKE_LIBRARY_PATH=$(CURDIR)/debian/alfont \
		-DCMAKE_VERBOSE_MAKEFILE=ON \
		-DCMAKE_BUILD_TYPE=None
	dh_auto_build -Dbuild

override_dh_auto_install:
	dh_auto_install -Dbuild -- DESTDIR=$(CURDIR)/debian/tmp
	mkdir -p debian/tmp/usr/share/games
	mv debian/tmp/usr/share/opensurge debian/tmp/usr/share/games
	$(foreach SIZE,16 32 48 64 72 96 128 256,\
	  mkdir -p debian/tmp/usr/share/icons/hicolor/$(SIZE)x$(SIZE)/apps ;\
	  install -m644 src/misc/opensurge_$(SIZE)x$(SIZE).png \
	  $(CURDIR)/debian/tmp/usr/share/icons/hicolor/$(SIZE)x$(SIZE)/apps/opensurge.png ;)

