#!/usr/bin/make -f

CFLAGS  += -I$(CURDIR)/alfont/include $(CPPFLAGS)
LDFLAGS += -Wl,--as-needed -L$(CURDIR)/alfont


%:
	dh ${@} --parallel

override_dh_auto_clean:
	dh_auto_clean
	rm -rf alfont build

override_dh_auto_configure:

override_dh_auto_build:
	unrar x AlFont209.rar 2>&1 >/dev/null
	cp -f debian/Makefile.alfont alfont/Makefile
	dh_auto_build -Dalfont -- libalfont.a
	mkdir build
	cd build && cmake $(CURDIR) \
		-DCMAKE_LIBRARY_PATH=$(CURDIR)/alfont \
		-DCMAKE_VERBOSE_MAKEFILE=ON \
		-DCMAKE_BUILD_TYPE=None
	dh_auto_build -Dbuild

override_dh_auto_install:
	dh_auto_install -Dbuild -- DESTDIR=$(CURDIR)/debian/tmp
	mkdir -p debian/tmp/usr/share/games
	mv debian/tmp/usr/share/opensurge debian/tmp/usr/share/games
	$(foreach SIZE,16 32 48 64 72 96 128 256,\
	  mkdir -p debian/tmp/usr/share/icons/hicolor/$(SIZE)x$(SIZE)/apps ;\
	  install -m644 src/misc/opensurge_$(SIZE)x$(SIZE).png \
	  $(CURDIR)/debian/tmp/usr/share/icons/hicolor/$(SIZE)x$(SIZE)/apps/opensurge.png ;)

