Source: renpy
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
XSBC-Original-Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Build-Depends:
   debhelper (>= 9),
   autoconf,
   automake,
   dh-python,
   python-all,
   libpython2.7,
   python-pygame (>= 1.8.1),
   libfreetype6,
   libgl1-mesa-glx,
   libglu1-mesa,
   libpng12-0,
   libsdl2-2.0-0,
   libx11-6,
   libxext6,
   libxi6,
   libxmu6,
   zlib1g
Standards-Version: 3.9.5
Homepage: http://www.renpy.org/
XS-Python-Version: >= 2.7
Vcs-Svn: svn://anonscm.debian.org/pkg-games/packages/trunk/renpy/
Vcs-Browser: http://anonscm.debian.org/viewvc/pkg-games/packages/trunk/renpy/

Package: renpy
Architecture: all
Depends:
   python-pygame (>= 1.8.1),
   python-renpy,
   ttf-dejavu-core,
   fonts-roboto,
   fonts-motoya-l-cedar,
   fonts-nanum,
   ${python:Depends},
   ${misc:Depends}
Recommends:
   python-ctypes,
   zenity
Description: framework for developing visual-novel type games
 Ren'Py is a programming language and runtime, intended to ease the creation
 of visual-novel type games. It contains features that make it easy to
 display thoughts, dialogue, and menus; to display images to the user; to
 write game logic; and to support the saving and loading of games.
 .
 Ren'Py tries to be like an executable script, allowing you to get a working
 game without much more effort than is required to type the game script into
 the computer.
 .
 Ren'Py is implemented on top of Python, and that Python heritage shows
 through in many places. Many Ren'Py statements allow Python expressions
 to be used, and there are also Ren'Py statements that allow for the
 execution of arbitrary Python code. Many of the less-used features of
 Ren'Py are exposed to the user by way of Python. By only requiring use of
 the simplest features of Python, it's hoped that Ren'Py will be usable by
 all game authors.

Package: python-renpy
Section: python
Architecture: any
Depends:
   ${shlibs:Depends},
   ${python:Depends},
   ${misc:Depends}
Provides:
   ${python:Provides}
Suggests:
   renpy
Description: framework for developing visual-novel type games - Python module
 Ren'Py is a programming language and runtime, intended to ease the creation
 of visual-novel type games. It contains features that make it easy to
 display thoughts, dialogue, and menus; to display images to the user; to
 write game logic; and to support the saving and loading of games.
 .
 This package includes the native Python module.

Package: renpy-doc
Section: doc
Architecture: all
Depends:
   ${misc:Depends},
   libjs-jquery (>= 1.4),
   libjs-underscore
Suggests:
   renpy
Description: framework for developing visual-novel type games - doc
 Ren'Py is a programming language and runtime, intended to ease the creation
 of visual-novel type games. It contains features that make it easy to
 display thoughts, dialogue, and menus; to display images to the user; to
 write game logic; and to support the saving and loading of games.
 .
 This package includes the documentation for Ren'Py.

Package: renpy-demo
Architecture: all
Depends:
   renpy (= ${source:Version}),
   ${misc:Depends},
   fonts-motoya-l-cedar
Description: framework for developing visual-novel type games - demo
 Ren'Py is a programming language and runtime, intended to ease the creation
 of visual-novel type games. It contains features that make it easy to
 display thoughts, dialogue, and menus; to display images to the user; to
 write game logic; and to support the saving and loading of games.
 .
 This package includes a full playable example showing the features of the
 framework.

Package: renpy-thequestion
Architecture: all
Depends:
   renpy (= ${source:Version}),
   ${misc:Depends}
Description: simple and complete Ren'Py game
 Ren'Py is a programming language and runtime, intended to ease the creation
 of visual-novel type games. It contains features that make it easy to
 display thoughts, dialogue, and menus; to display images to the user; to
 write game logic; and to support the saving and loading of games.
 .
 This package includes a simple and complete Ren'Py game.
