[Desktop Entry]
Type=Application
Name=Ren'Py Demo
GenericName=renpy-demo
Comment=visual-novel game demo with Ren'Py
Comment[es]=demo de juego de novela grafica con Ren'Py
Icon=renpy-demo
Exec=renpy-demo
Terminal=false
Categories=Application;Game;
