[Desktop Entry]
Type=Application
Name=Ren'Py
GenericName=renpy
Comment=visual-novel type games
Comment[es]=juegos de novela grafica
Icon=renpy
Exec=renpy
Terminal=false
Categories=Application;Game;
