#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)


%:
	dh $@ --with python2

override_dh_auto_clean:
	dh_auto_clean
	rm -rf lib patchelfmod-master

override_dh_auto_build:
	tar xvf lib.tar.xz
	tar xvf patchelfmod.tgz
	autoreconf -ivf patchelfmod-master
	cd patchelfmod-master && ./configure
	$(MAKE) -C patchelfmod-master check

override_dh_install:
	dh_install

	# Fix Privacy Issues
	for f in `find $(CURDIR)/debian/renpy-doc/usr/share/doc/renpy/html/ -type f -name "*.html"`; do \
		cp "$$f" "$$f.orig"; \
		cat "$$f.orig" | \
			awk -vnum=10 '/http:\/\/www.google.com\/jsapi/{for(i=0;i<=num;i++)getline}1' > "$$f"; \
		rm "$$f.orig"; \
	done

	# Add '$ORIGIN' RPATH where it's necessary
	for f in `find $(CURDIR)/debian/python-renpy/ -type f -name "*.so*"`; do \
		$(CURDIR)/patchelfmod-master/src/patchelfmod --delete-rpath "$$f"; \
	done
	cd $(CURDIR)/debian/python-renpy/usr/lib/python2.7/dist-packages/ && \
		for f in `ls pysdlsound/*.so*` `ls renpy/gl/*.so*`; do \
			$(CURDIR)/patchelfmod-master/src/patchelfmod --set-rpath '$$ORIGIN' "$$f"; \
		done

override_dh_compress:
	dh_compress --exclude=.js --exclude=.pdf --exclude=.py --exclude=.txt

override_dh_makeshlibs:

# dh_strip will error exit with the message "Not enough room for program headers"
override_dh_strip:

