Source: simplescreenrecorder
Section: video
Priority: optional
Maintainer: Maarten Baert (v2) <maarten-baert@hotmail.com>
Build-Depends:
 debhelper (>= 9),
 cmake,
 pkg-config,
 libgl1-mesa-dev,
 libgl1-mesa-dev:i386 [amd64],
 libglu1-mesa-dev,
 libglu1-mesa-dev:i386 [amd64],
 libasound2-dev,
 libjack-dev,
 libpulse-dev,
 libavformat-dev,
 libavcodec-dev,
 libavutil-dev,
 libswscale-dev,
 libx11-dev,
 libx11-dev:i386 [amd64],
 libxext-dev,
 libxfixes-dev,
 libxfixes-dev:i386 [amd64],
 libxi-dev,
 libqt5x11extras5-dev,
 qt5-qmake,
 qtbase5-dev
Standards-Version: 3.9.7
Homepage: http://www.maartenbaert.be/simplescreenrecorder/
Vcs-Git: git://github.com/MaartenBaert/ssr.git
Vcs-Browser: https://github.com/MaartenBaert/ssr

Package: simplescreenrecorder
Architecture: amd64 i386
Depends:
 ${shlibs:Depends},
 libgl1-mesa-glx:i386 [amd64],
 libglu1-mesa:i386 [amd64],
 libx11-6:i386 [amd64],
 libxfixes3:i386 [amd64],
 ${misc:Depends}
Provides:
 simplescreenrecorder-lib,
 simplescreenrecorder-lib:i386 [amd64]
Conflicts:
 simplescreenrecorder-lib,
 simplescreenrecorder-lib:i386 [amd64]
Description: feature-rich screen recorder that supports X11 and OpenGL
 SimpleScreenRecorder is a feature-rich screen recorder that supports X11 and
 OpenGL. It has a Qt-based graphical user interface. It can record the entire
 screen or part of it, or record OpenGL applications directly. The recording
 can be paused and resumed at any time. Many different file formats and codecs
 are supported.

