#!/usr/bin/make -f

man1dir = $(CURDIR)/debian/simplescreenrecorder/usr/share/man/man1


%:
	dh $@ --parallel --buildsystem=cmake --builddirectory=build

override_dh_auto_configure:
	dh_auto_configure -- -DENABLE_32BIT_GLINJECT=ON -DWITH_QT5=ON -DENABLE_X86_ASM=ON

override_dh_install:
	dh_install
	mv $(man1dir)/simplescreenrecorder.man $(man1dir)/simplescreenrecorder.1
	mv $(man1dir)/ssr-glinject.man $(man1dir)/ssr-glinject.1

override_dh_installdocs:
	dh_installdocs -A AUTHORS.md notes.txt README.md todo.txt

override_dh_installchangelogs:
	dh_installchangelogs -A CHANGELOG.md

override_dh_gencontrol:
	dh_gencontrol
	# virtual-package-depends-without-real-package-depends depends: libgl1
	sed -i 's@, libgl1,@, libgl1-mesa-glx | libgl1,@' $(CURDIR)/debian/simplescreenrecorder/DEBIAN/control
	# pkg-has-shlibs-control-file-but-no-actual-shared-libs
	rm -f $(CURDIR)/debian/simplescreenrecorder/DEBIAN/shlibs

