Source: duke3d-shareware
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.moddb.com/games/duke-nukem-3d

Package: duke3d-shareware
Architecture: all
Depends: ${misc:Depends}
Description: Duke Nukem 3D shareware GRP file
 The complete first episode of the game, which was released as shareware.

Package: chocolate-duke3d-shareware-launcher
Architecture: all
Depends: chocolate-duke3d, ${misc:Depends}
Description: Duke Nukem 3D shareware - Chocolate Duke3D
 The complete first episode of the game, which was released as shareware.
 .
 Chocolate Duke3D launcher.

Package: eduke32-shareware-launcher
Architecture: all
Depends: eduke32, ${misc:Depends}
Description: Duke Nukem 3D shareware - EDuke32
 The complete first episode of the game, which was released as shareware.
 .
 EDuke32 launcher.

