Source: duke3d-shareware
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.moddb.com/games/duke-nukem-3d

Package: duke3d-shareware
Architecture: all
Multi-Arch: foreign
Depends: chocolate-duke3d, ${misc:Depends}
Description: Duke Nukem 3D shareware version
 The complete first episode of the game, which was released as shareware.
 Fully patched.

