#!/usr/bin/make -f

CFLAGS   := -O3 $(filter-out -g -O2,$(shell dpkg-buildflags --get CFLAGS))
CXXFLAGS := -O3 $(filter-out -g -O2,$(shell dpkg-buildflags --get CXXFLAGS))
CPPFLAGS := $(shell dpkg-buildflags --get CPPFLAGS)
LDFLAGS  := $(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed -Wl,-z,noexecstack


%:
	dh ${@} --parallel

override_dh_auto_build:
	dh_auto_build -- static-qt4 V=1

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr DESTDIR=$(CURDIR)/debian/yua
	rm -f $(CURDIR)/debian/yua/usr/share/doc/yua/COPYING

override_dh_shlibdeps:
	# recognize the dependencies of the embedded helper tools
	cp -f ffmpeg/ffmpeg $(CURDIR)/debian/yua/usr/bin
	cp -f gpac/bin/gcc/MP4Box $(CURDIR)/debian/yua/usr/bin
	dh_shlibdeps
	cd $(CURDIR)/debian/yua/usr/bin && rm -f ffmpeg MP4Box 

override_dh_gencontrol:
	dh_gencontrol
	# prevents Lintian warning virtual-package-depends-without-real-package-depends
	sed -i 's/, libgl1,/, libgl1-mesa-glx | libgl1,/g' debian/yua/DEBIAN/control

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

