[Desktop Entry]
Comment=Google Earth Placemarker
Hidden=false
Icon=/usr/share/pixmaps/googleearth.xpm
MimeType=application/vnd.google-earth.kmz
Patterns=*.kmz
Type=MimeType
X-KDE-AutoEmbed=false
