#!/usr/bin/make -f

%:
	dh $@ --parallel --builddirectory=build

override_dh_auto_install:
	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/tmp
	mv debian/tmp/usr/bin/wavinfo debian/tmp/usr/bin/wavinfo-aften

override_dh_installman:
	help2man -N -h '-h' -n "A/52 audio encoder" --version-string=0.0.8 \
		debian/tmp/usr/bin/aften > build/aften.1
	help2man -N -h '' -n "part of Aften" --no-discard-stderr --version-string=0.0.8 \
		debian/tmp/usr/bin/wavfilter  > build/wavfilter.1
	help2man -N -h '-h' -n "utility program to calculate AC-3 dialnorm" \
		--version-string=0.0.8 debian/tmp/usr/bin/wavrms > build/wavrms.1
	dh_installman

override_dh_installchangelogs:
	dh_installchangelogs Changelog
