Source: haiku-cursor-theme
Section: x11
Priority: optional
Maintainer: djcj <djcj@gmx.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.zevenos.com/download/themes

Package: haiku-cursor-theme
Architecture: all
Depends: ${misc:Depends}
Description: Haiku cursor theme
 The Haiku cursor theme from ZevenOS, providing the mouse cursors
 used on Haiku OS.
