Source: skulltag
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9),
			   dh-autoreconf,
			   chrpath,
			   libgl1-mesa-glx,
               libglib2.0-0,
               libglu1-mesa,
               libgtk2.0-0,
               libsdl1.2debian,
               zlib1g
Standards-Version: 3.9.6
Homepage: http://www.skulltag.com/

Package: skulltag
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Doom engine
 Skulltag is a port for the original Doom and Doom II by id Software.
 .
 Skulltag brings classic Doom into the 21st century, maintaining the essence
 of what has made Doom great for so many years and, at the same time, adding
 new features to modernize it, creating a fresh, fun new experience.
 .
 Sadly, it is no longer being actively developed, but is still available for
 single player and archival purposes.
