Source: xnsketch
Section: graphics
Priority: optional
Maintainer: Pierre-e Gougelet <contact@xnview.com>
Build-Depends: debhelper (>= 9),
               chrpath,
               imagemagick
Standards-Version: 3.9.6
Homepage: http://www.xnview.com

Package: xnsketch
Architecture: amd64 i386
Depends: ${misc:Depends},
         libc6 (>= 2.11),
         libgcc1 (>= 1:4.1.1),
         libqt4-network (>= 4:4.5.3),
         libqt4-xml (>= 4:4.5.3),
         libqtcore4 (>= 4:4.8.0),
         libqtgui4 (>= 4:4.6.1),
         libqtwebkit4,
         libstdc++6 (>= 4.1.1)
Description: create cartoon or sketch images from photos
 XnSketch allows you to turn your photos into cartoon or sketch images.
