#!/usr/bin/make -f

PKG = xnsketch


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf converted_icons XnSketch

override_dh_auto_build:
	tar xvfz XnSketch-linux.tgz

	find XnSketch -type f -exec chmod 0644 '{}' \;
	chmod a+x XnSketch/XnSketch
	chrpath -d XnSketch/XnSketch
	mv XnSketch/XnSketch XnSketch/xnsketch

	./make-icons.sh xnsketch.png

override_dh_shlibdeps:

override_dh_gencontrol:
	dh_gencontrol
	sed -i 's/Architecture: amd64/Architecture: i386/g' debian/$(PKG)/DEBIAN/control

