[Desktop Entry]
Type=Application
Name=XnSketch
GenericName=XnSketch
Comment=turn your photos into cartoon or sketch images
Exec=xnsketch %U
Terminal=false
Icon=xnsketch
Categories=Graphics;
StartupNotify=true
