#!/usr/bin/make -f

PKG = neroaac

%:
	dh ${@}

override_dh_installchangelogs:
	dh_installchangelogs neroaac/changelog.txt

override_dh_compress:
	dh_compress -X.pdf

override_dh_shlibdeps:

override_dh_gencontrol:
	dh_gencontrol
	sed -i 's/Architecture: amd64/Architecture: i386/g' debian/$(PKG)/DEBIAN/control

