#!/usr/bin/make -f

VERSION = $(shell dpkg-parsechangelog -SVersion)

ifeq ($(shell uname -p), x86_64)
x64 = -x64
endif


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf converted_icons XnConvert

override_dh_auto_build:
	tar xvfz XnConvert-linux$(x64).tgz
	find XnConvert -type f -exec chmod 0644 '{}' \;
	chmod 0755 XnConvert/XnConvert

	./make-icons.sh XnConvert/xnconvert.png

	chrpath -d XnConvert/XnConvert `find XnConvert/ -type f -name *.so*`
ifeq ($(shell uname -p), x86_64)
	# i386 plugins shouldn't be in an amd64 package
	rm -f XnConvert/Plugins/rwz_sdk.so
endif

override_dh_makeshlibs:

override_dh_shlibdeps:
	dh_shlibdeps -Lxnconvert -l/usr/lib/xnconvert/lib

override_dh_builddeb:
	dh_builddeb -- -Zxz

