#!/usr/bin/make -f

pkg = gcc5opt

PKG = $(shell echo $(pkg) | tr '[a-z]' '[A-Z]')
VER = $(shell dpkg-parsechangelog -SVersion)
usr = $(CURDIR)/debian/$(pkg)/usr
cplusinc = $(usr)/share/$(pkg)/include/c++/$(VER)
SRCDIR = gcc-src

TRIPLET = $(DEB_HOST_GNU_CPU)-pc-linux-gnu

export CFLAGS=-Wall $(filter-out -Werror=%,$(shell dpkg-buildflags --get CFLAGS)) -ffunction-sections -fdata-sections
export CXXFLAGS=-Wall $(filter-out -Werror=%,$(shell dpkg-buildflags --get CXXFLAGS)) -ffunction-sections -fdata-sections
export CPPFLAGS=$(shell dpkg-buildflags --get CPPFLAGS)
export GCJFLAGS=$(shell dpkg-buildflags --get GCJFLAGS)
export LDFLAGS=$(filter-out %-Bsymbolic-functions,$(shell dpkg-buildflags --get LDFLAGS)) -Wl,--gc-sections


%:
	dh ${@} --parallel

override_dh_auto_clean:
	rm -rf gcc-*/ gmp-*/ mpc-*/ mpfr-*/ isl-*/
	rm -f debian/links

override_dh_auto_configure:
	debian/get-orig-source --extract

	cp -f config.* $(SRCDIR)
	cp -f config.guess $(SRCDIR)/gmp
	cp -f config.sub $(SRCDIR)/gmp/configfsf.sub
	$(foreach DIR,mpc mpfr isl,cp -f config.* $(SRCDIR)/$(DIR);)

	sed "s|@pkg@|$(pkg)|g; s|@host@|$(TRIPLET)|g" debian/links.in > debian/links

	cp -rf debian/gcc-patches $(SRCDIR)
	cd $(SRCDIR) && QUILT_PATCHES=gcc-patches \
		quilt --quiltrc - push -a

	cd $(SRCDIR) && ./configure \
		--build=$(TRIPLET) \
		--host=$(TRIPLET) \
		--target=$(TRIPLET) \
		--prefix=/usr/share/$(pkg) \
		--exec-prefix=/usr/lib/$(pkg) \
		--bindir=/usr/bin \
		--datarootdir=/usr/share/$(pkg) \
		--mandir=/usr/share/man \
		--program-prefix=$(pkg)- \
		--enable-languages=c,c++,java,objc,obj-c++ \
		--enable-lto \
		--disable-bootstrap \
		--with-system-zlib \
		--with-pic=yes

override_dh_auto_build:
	dh_auto_build -D$(SRCDIR)

override_dh_install:
	$(MAKE) -C $(SRCDIR) install DESTDIR=$(CURDIR)/debian/$(pkg)

	rm -f $(usr)/bin/$(TRIPLET)-gcc-$(VER)
	rm -rf $(usr)/share/man/man7 $(usr)/share/$(pkg)/info
	find $(usr)/lib/* -name \*.la -delete
	$(foreach CMD,gcc-ar gcc-nm gcc-ranlib g++-static-libstdc++,\
	  sed "s|@PKG@|$(PKG)|g; s|@pkg@|$(pkg)|g" \
	  debian/$(CMD).1.in > $(usr)/share/man/man1/$(pkg)-$(CMD).1 ;)

	# fix including headers
	for f in $(cplusinc)/$(TRIPLET)/bits/* ; do \
  ln -rs $$f $(cplusinc)/bits/$$(basename $$f); \
done
	for f in $(cplusinc)/$(TRIPLET)/ext/* ; do \
  ln -rs $$f $(cplusinc)/ext/$$(basename $$f); \
done
	for f in $(cplusinc)/* ; do \
  ln -rs $$f $(usr)/share/$(pkg)/include/$$(basename $$f); \
done

	# build g++ binary that links libstdc++ statically by default
	cd $(SRCDIR) && patch -p1 < gcc-patches/link-static-libstdc++.patch
	cd $(SRCDIR)/host-$(TRIPLET)/gcc && rm -f xg++ cp/g++spec.o
	$(MAKE) -C $(SRCDIR)/host-$(TRIPLET)/gcc xg++
	install -m755 -D $(SRCDIR)/host-$(TRIPLET)/gcc/xg++ \
	  $(usr)/bin/$(pkg)-g++-static-libstdc++

override_dh_installchangelogs:
	dh_installchangelogs $(SRCDIR)/ChangeLog

override_dh_makeshlibs:

lib = /usr/lib/$(pkg)/lib

override_dh_shlibdeps:
	dh_shlibdeps -L$(pkg) -l$(lib):$(lib)32:$(lib)64

