#!/usr/bin/make -f

CFLAGS   = -Wall $(shell dpkg-buildflags --get CFLAGS)
CPPFLAGS = $(shell dpkg-buildflags --get CPPFLAGS)
LDFLAGS  = $(shell dpkg-buildflags --get LDFLAGS) -Wl,-z,defs

SITE = http://www.tortall.net/projects/yasm/manual


%:
	dh ${@} --parallel --with autoreconf,autotools_dev

override_dh_auto_configure:
	sed -i 's@$(SITE)/html/objfmt-win64/calling-convention.png@images/calling-convention.png@; s@$(SITE)/html/objfmt-win64/stack-frame-detailed.png@images/stack-frame-detailed.png@; s@$(SITE)/html/arch-x86/x86-registers.png@images/x86-registers.png@;' manual.html
	sed -i 's@$(SITE)/ru/html/objfmt-win64/calling-convention.png@images/calling-convention.png@; s@$(SITE)/ru/html/objfmt-win64/stack-frame-detailed.png@images/stack-frame-detailed.png@; s@$(SITE)/ru/html/arch-x86/x86-registers.png@images/x86-registers.png@;' manual-ru.html
	dh_auto_configure

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/tmp

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

