Source: steam
Section: non-free/games
Priority: extra
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.steampowered.com

Package: steam
Architecture: amd64 i386
Multi-Arch: foreign
Depends: ${misc:Depends},
         libc6 (>= 2.12),
         libstdc++6 (>= 4.3),
         libudev1,
         libx11-6,
         libxinerama1,
         libtxc-dxtn0,
         libgl1-mesa-dri,
         libgl1-mesa-glx,
         fonts-liberation,
         xterm | x-terminal-emulator
Replaces: steam64,
          steam-launcher
Description: Valve's Steam digital software delivery system
 Steam (http://www.steampowered.com) is a software content delivery system
 developed by Valve software (http://www.valvesoftware.com).  There is
 some free software available, but for the most part the content delivered
 is non-free.
