Source: steam
Section: non-free/games
Priority: extra
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Build-Depends:
 debhelper (>= 9),
 libxcb1,
 libxau6,
 libx11-6,
 libxdmcp6
Standards-Version: 3.9.6
Homepage: http://www.steampowered.com

Package: steam
Architecture: i386
Multi-Arch: foreign
Pre-Depends:
 debconf,
 multiarch-support
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 xz-utils,
 libgl1-mesa-dri,
 libgl1-mesa-glx,
 libtxc-dxtn-s2tc0,
 xterm | x-terminal-emulator
Recommends:
 zenity,
 fonts-liberation
Replaces:
 steam64,
 steam-launcher
Description: Valve's Steam digital software delivery system
 Steam (http://www.steampowered.com) is a software content delivery system
 developed by Valve software (http://www.valvesoftware.com).  There is
 some free software available, but for the most part the content delivered
 is non-free.
