#!/usr/bin/make -f


%:
	dh $@

override_dh_auto_clean:
	rm -rf steam-dir

override_dh_auto_build:
	dpkg -x steam.deb steam-dir
	gunzip steam-dir/usr/share/man/man6/steam.6.gz
	gunzip steam-dir/usr/share/doc/steam-launcher/changelog.gz
	sed -i 's@/usr/bin/steam@/usr/games/steam@' steam-dir/usr/share/applications/steam.desktop
	cd steam-dir/usr/lib/steam && tar xvf bootstraplinux_ubuntu12_32.tar.xz
	cd steam-dir/usr/lib/steam/ubuntu12_32 && mv steam steam.real

override_dh_installchangelogs:
	dh_installchangelogs steam-dir/usr/share/doc/steam-launcher/changelog

