Source: delaycut
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9), qt5-default, qtbase5-dev
Standards-Version: 3.9.6
Section: sound
Vcs-Git: https://github.com/darealshinji/delaycut.git
Vcs-Browser: https://github.com/darealshinji/delaycut

Package: delaycut
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: cuts and corrects delay in ac3 and dts files
 It corrects delay and is also able to cut audio files
 coded ac3, dts, mpa and wav.
 It is also able to fix CRC errors in ac3 and mpa files.
