#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	rm -rf wxHexEditor

override_dh_auto_build:
	tar xvf wxHexEditor.tbz
	upx-ucl -d wxHexEditor/wxHexEditor

override_dh_install:
	dh_install
	./make-icons.sh files/wxHexEditor.png debian/wxhexeditor/usr/share

override_dh_installchangelogs:
	dh_installchangelogs wxHexEditor/Change.log

