Source: ia32-libs
Section: metapackages
Priority: extra
Maintainer: djcj <djcj@gmx.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: ia32-libs
Architecture: amd64 i386
Multi-Arch: foreign
Depends:
 bluez-alsa,
 libgettextpo0,
 gstreamer0.10-plugins-base,
 gstreamer0.10-plugins-good,
 gtk2-engines,
 gtk2-engines-murrine,
 gtk2-engines-pixbuf,
 gtk2-engines-oxygen,
 gtk3-engines-oxygen,
 gvfs,
 ibus-gtk,
 libacl1,
 libaio1,
 libao4,
 libasound2,
 libasound2-plugins,
 libasyncns0,
 libattr1,
 libaudio2,
 libcanberra-gtk-module,
 libcap2,
 libcapi20-3,
 libcups2,
 libcupsimage2,
 libcurl3,
 libdbus-glib-1-2,
 libesd0,
 libfontconfig1,
 libfreetype6,
 libgail-common,
 libgconf-2-4,
 libgdbm3,
 libgl1-mesa-glx,
 libgl1-mesa-dri,
 libglapi-mesa,
 libglu1-mesa,
 libgphoto2-6,
 libgphoto2-port10,
 libgtk2.0-0,
 libgtk-3-0,
 libmpg123-0,
 libncursesw5,
 libnspr4,
 libnss3,
 libodbc1,
 libopenal1,
 libpulse-mainloop-glib0,
 libqt4-assistant,
 libqt4-core,
 libqt4-dbus,
 libqt4-declarative,
 libqt4-designer,
 libqt4-gui,
 libqt4-help,
 libqt4-network,
 libqt4-opengl,
 libqt4pas5,
 libqt4-qt3support,
 libqt4-script,
 libqt4-scripttools,
 libqt4-sql,
 libqt4-svg,
 libqt4-test,
 libqt4-webkit,
 libqt4-xml,
 libqt4-xmlpatterns,
 libqt53d5,
 libqt5bluetooth5,
 libqt5concurrent5,
 libqt5contacts5,
 libqt5core5a,
 libqt5dbus5,
 libqt5declarative5,
 libqt5designer5,
 libqt5designercomponents5,
 libqt5feedback5,
 libqt5gui5,
 libqt5help5,
 libqt5keychain0,
 libqt5location5,
 libqt5multimedia5,
 libqt5multimediaquick-p5,
 libqt5multimediawidgets5,
 libqt5network5,
 libqt5nfc5,
 libqt5opengl5,
 libqt5organizer5,
 libqt5positioning5,
 libqt5printsupport5,
 libqt5qml5,
 libqt5quick5,
 libqt5quicktest5,
 libqt5quickwidgets5,
 libqt5scintilla2-11,
 libqt5script5,
 libqt5scripttools5,
 libqt5sensors5,
 libqt5serialport5,
 libqt5serviceframework5,
 libqt5sql5,
 libqt5svg5,
 libqt5systeminfo5,
 libqt5test5,
 libqt5webkit5,
 libqt5websockets5,
 libqt5widgets5,
 libqt5x11extras5,
 libqt5xml5,
 libqt5xmlpatterns5,
 librsvg2-common,
 libsane,
 libsdl-mixer1.2,
 libsdl-image1.2,
 libsdl-net1.2,
 libsdl-ttf2.0-0,
 libsdl1.2debian,
 libsdl2-2.0-0,
 libsdl2-gfx-1.0-0,
 libsdl2-image-2.0-0,
 libsdl2-net-2.0-0,
 libsdl2-ttf-2.0-0,
 libsqlite3-0,
 libssl0.9.8,
 libssl1.0.0,
 libstdc++6,
 libxaw7,
 libxml2,
 libxp6,
 libxslt1.1,
 libxss1,
 libxtst6,
 odbcinst1debian2,
 libpulsedsp,
 xaw3dg
Recommends:
 libsdl2-mixer-2.0-0
Description: Common i386 libraries for amd64
 This package depends on various i386 libraries.
