Source: steam-native
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9~)
Standards-Version: 3.9.5
Homepage: http://www.steampowered.com

Package: steam-native
Architecture: any
Depends:
 gconf-service,
 libacl1,
 libasound2,
 libatk1.0-0,
 libattr1,
 libbz2-1.0,
 libc6 (>= 2.15),
 libcairo2,
 libcap2,
 libcg,
 libcggl,
 libcups2,
 libdbus-1-3,
 libdbus-glib-1-2,
 libexpat1,
 libfontconfig1,
 libfreetype6,
 libgcc1,
 libgconf-2-4,
 libgdk-pixbuf2.0-0,
 libgl1-mesa-glx | libgl1,
 libglib2.0-0,
 libglu1-mesa,
 libgtk2.0-0,
 libice6,
 libncurses5,
 libncursesw5,
 libnm-glib4,
 libnm-util2,
 libnotify4,
 libnspr4 | libnspr4-0d,
 libnss3 | libnss3-1d,
 libopenal1,
 libpango-1.0-0,
 libpangocairo-1.0-0,
 libpulse0,
 libsdl2-2.0-0,
 libsdl2-image-2.0-0,
 libsdl2-mixer-2.0-0,
 libsdl2-net-2.0-0,
 libsdl2-ttf-2.0-0,
 libselinux1,
 libsm6,
 libspeex1,
 libstdc++6,
 libtbb2,
 libtcmalloc-minimal4,
 libtheora0,
 libtxc-dxtn-s2tc0,
 libusb-1.0-0,
 libva1,
 libva-x11-1,
 libvdpau1,
 libvulkan1,
 libx11-6,
 libxau6,
 libxaw7,
 libxcb1, libxcb-dpms0, libxcb-screensaver0, libxcb-xinerama0, libxcb-xv0, libxcb-icccm4, libxcb-record0,
 libxcb-util1, libxcb-composite0, libxcb-dri2-0, libxcb-image0, libxcb-shape0, libxcb-xevie0, libxcb-xkb1,
 libxcb-xvmc0, libxcb-render0, libxcb-cursor0, libxcb-dri3-0, libxcb-keysyms1, libxcb-shm0, libxcb-xf86dri0,
 libxcb-xprint0, libxcb-damage0, libxcb-present0, libxcb-render-util0, libxcb-ewmh2, libxcb-res0,
 libxcb-sync1, libxcb-xfixes0, libxcb-xtest0, libxcb-glx0, libxcb-randr0,
 libxcomposite1,
 libxcursor1,
 libxdamage1,
 libxext6,
 libxfixes3,
 libxi6,
 libxinerama1,
 libxml2,
 libxmu6,
 libxpm4,
 libxrandr2,
 libxrender1,
 libxss1,
 libxt6,
 libxtst6,
 libxxf86vm1,
 zlib1g,
 python:any (>= 2.7.5-5~),
 ${misc:Depends}
Suggests:
 libpng12-0 (>= 1.2.13-4),
 python-apt:any,
 python-simplejson:any
Description: Steam with native runtime
 Start Steam with steam-runtime disabled.

Package: steam-runtime-amd64
Architecture: amd64
Section: metapackages
Depends:
 gconf-service,
 libacl1,
 libasound2,
 libatk1.0-0,
 libattr1,
 libbz2-1.0,
 libcairo2,
 libcap2,
 libcg,
 libcggl,
 libcups2,
 libdbus-1-3,
 libdbus-glib-1-2,
 libexpat1,
 libfontconfig1,
 libfreetype6,
 libgconf-2-4,
 libgdk-pixbuf2.0-0,
 libgl1-mesa-glx | libgl1,
 libglib2.0-0,
 libglu1-mesa,
 libgtk2.0-0,
 libice6,
 libncurses5,
 libncursesw5,
 libnm-glib4,
 libnm-util2,
 libnotify4,
 libnspr4 | libnspr4-0d,
 libnss3 | libnss3-1d,
 libopenal1,
 libpango-1.0-0,
 libpangocairo-1.0-0,
 libpulse0,
 libsdl2-2.0-0,
 libsdl2-image-2.0-0,
 libsdl2-mixer-2.0-0,
 libsdl2-net-2.0-0,
 libsdl2-ttf-2.0-0,
 libselinux1,
 libsm6,
 libspeex1,
 libtbb2,
# not multi-arch on older distros
 libtcmalloc-minimal4 | libc6,
 libtheora0,
 libtxc-dxtn-s2tc0,
 libusb-1.0-0,
 libva1,
 libva-x11-1,
 libvdpau1,
 libvulkan1,
 libx11-6,
 libxau6,
 libxaw7,
 libxcb1, libxcb-dpms0, libxcb-screensaver0, libxcb-xinerama0, libxcb-xv0, libxcb-icccm4, libxcb-record0,
 libxcb-util1, libxcb-composite0, libxcb-dri2-0, libxcb-image0, libxcb-shape0, libxcb-xevie0, libxcb-xkb1,
 libxcb-xvmc0, libxcb-render0, libxcb-cursor0, libxcb-dri3-0, libxcb-keysyms1, libxcb-shm0, libxcb-xf86dri0,
 libxcb-xprint0, libxcb-damage0, libxcb-present0, libxcb-render-util0, libxcb-ewmh2, libxcb-res0,
 libxcb-sync1, libxcb-xfixes0, libxcb-xtest0, libxcb-glx0, libxcb-randr0,
 libxcomposite1,
 libxcursor1,
 libxdamage1,
 libxext6,
 libxfixes3,
 libxi6,
 libxinerama1,
 libxml2,
 libxmu6,
 libxpm4,
 libxrandr2,
 libxrender1,
 libxss1,
 libxt6,
 libxtst6,
 libxxf86vm1,
 zlib1g,
 vulkan-utils,
 ${misc:Depends}
Description: Steam runtime files
 Steam runtime files for AMD64.

