#!/usr/bin/make -f

CFLAGS   += -Wall
CXXFLAGS += -Wall -Wno-write-strings
LDFLAGS  += -Wl,-z,defs -Wl,--as-needed


%:
	dh $@ --parallel

override_dh_auto_clean:
	dh_auto_clean -DMediaInfo/Project/GNU/CLI
	dh_auto_clean -DMediaInfoLib/Project/GNU/Library
	dh_auto_clean -DZenLib/Project/GNU/Library

override_dh_auto_build:
	./CLI_Compile.sh

override_dh_installdocs:
	dh_installdocs
	prename 's/ReadMe_.*\.txt$$/README/' debian/*/usr/share/doc/*/ReadMe*

override_dh_installchangelogs:
	dh_installchangelogs MediaInfo/History_CLI.txt

