#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,defs -Wl,--as-needed


%:
	dh $@ --parallel

override_dh_auto_clean:
	dh_auto_clean -DMediaInfo/Project/GNU/CLI
	dh_auto_clean -DMediaInfoLib/Project/GNU/Library
	dh_auto_clean -DZenLib/Project/GNU/Library

override_dh_auto_build:
	./CLI_Compile.sh

override_dh_installchangelogs:
	dh_installchangelogs MediaInfo/History_CLI.txt

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

