[Desktop Entry]
Name=Duke Nukem 3D shareware version
GenericName=First Person Shooter Game
Comment=The complete first episode of the game, which was released as shareware
Keywords=first;person;shooter;shareware;
Exec=/usr/games/dukenukem3d-shareware
Icon=duke_icon
Terminal=false
Type=Application
Categories=Game;ActionGame;
