Source: opensonic
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends:
  debhelper (>= 9),
  chrpath,
  imagemagick,
  libice6,
  libpng12-0,
  libsm6,
  libx11-6,
  libxcursor1,
  libxext6,
  libxpm4,
  libxxf86vm1,
  zlib1g
Standards-Version: 3.9.5
Homepage: http://opensnc.sourceforge.net/home/

Package: opensonic
Architecture: i386
Depends:
  alsa-oss,
  ${shlibs:Depends},
  ${misc:Depends}
Description: Free "Sonic the Hedgehog" clone
 Open Sonic is a free open-source game based on the "Sonic the Hedgehog"
 universe. It introduces a different style of gameplay called cooperative
 play, in which it's possible to control 3 characters simultaneously.
 Unlike most similar games, Open Sonic provides a greater level of
 interaction between the player and the levels. It's more than just a
 jump'n'run; the user must come up with some strategy in order to get
 through the levels.
