Source: opensonic
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends:
  debhelper (>= 9),
  chrpath,
  imagemagick
Standards-Version: 3.9.5
Homepage: http://opensnc.sourceforge.net/home/

Package: opensonic
Architecture: amd64 i386
Depends:
  alsa-oss:i386 [amd64],
  libc6-i386 (>= 2.3.2) [amd64],
  libice6:i386 (>= 1:1.0.0) [amd64],
  libpng12-0:i386 (>= 1.2.13-4) [amd64],
  libsm6:i386 [amd64],
  libx11-6:i386 [amd64],
  libxcursor1:i386 (>> 1.1.2) [amd64],
  libxext6:i386 [amd64],
  libxpm4:i386 [amd64],
  libxxf86vm1:i386 [amd64],
  zlib1g:i386 (>= 1:1.1.4) [amd64],
  alsa-oss [i386],
  libc6 (>= 2.3.2) [i386],
  libice6 (>= 1:1.0.0) [i386],
  libpng12-0 (>= 1.2.13-4) [i386],
  libsm6 [i386],
  libx11-6 [i386],
  libxcursor1 (>> 1.1.2) [i386],
  libxext6 [i386],
  libxpm4 [i386],
  libxxf86vm1 [i386],
  zlib1g (>= 1:1.1.4) [i386]
Description: Free "Sonic the Hedgehog" clone
 Open Sonic is a free open-source game based on the "Sonic the Hedgehog"
 universe. It introduces a different style of gameplay called cooperative
 play, in which it's possible to control 3 characters simultaneously.
 Unlike most similar games, Open Sonic provides a greater level of
 interaction between the player and the levels. It's more than just a
 jump'n'run; the user must come up with some strategy in order to get
 through the levels.
