#!/usr/bin/make -f


%:
	dh ${@} --parallel

override_dh_auto_clean:
	rm -rf opensnc-linux-0.1.4 converted_icons opensonic.png

override_dh_auto_build:
	tar xvf opensnc-linux-0.1.4.tar.gz
	chrpath -d opensnc-linux-0.1.4/opensonic_bin opensnc-linux-0.1.4/liballeg.so.4.4
	rm -f opensnc-linux-0.1.4/opensonic
	cp opensnc-linux-0.1.4/icon.png opensonic.png
	./make-icons.sh opensonic.png

override_dh_auto_install:

override_dh_install:
	dh_install -Xlicense.txt
	rm -rf $(CURDIR)/debian/opensonic/usr/lib/opensonic/images
	chmod 0644 `find $(CURDIR)/debian/opensonic/usr/lib -type f`
	chmod 0644 `find $(CURDIR)/debian/opensonic/usr/share -type f`
	chmod 0755 $(CURDIR)/debian/opensonic/usr/lib/opensonic/opensonic_bin

override_dh_makeshlibs:

override_dh_shlibdeps:

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

