#!/usr/bin/make -f

LDFLAGS += -Wl,--as-needed


%:
	dh ${@} --parallel

override_dh_auto_clean:
	dh_auto_clean
	rm -rf CMakeFiles converted_icons
	rm -f CMakeCache.txt cmake_install.cmake Makefile opensonic.png

override_dh_auto_configure:
	./configure -DCMAKE_VERBOSE_MAKEFILE=ON

override_dh_auto_build:
	dh_auto_build
	cp -f icon.png opensonic.png
	./make-icons.sh opensonic.png

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/tmp

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

