#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
VERSION = $(shell dpkg-parsechangelog -SVersion)
ifeq ($(DEB_HOST_ARCH), amd64)
LIB64 = 64
endif


%:
	dh ${@}

override_dh_auto_clean:
	dh_auto_clean
	rm -f debian/grapplinghook.links debian/grapplinghook.install grapplinghook grapplinghook.6
	rm -rf converted_icons GrapplingHook lwjgl-2.9.1

override_dh_auto_build:
	unzip lwjgl-2.9.1.zip
	tar xvf GrapplingHook*.tar.gz

	chmod a-x `find GrapplingHook -type f`
	chmod a+x GrapplingHook/start.sh
	cp GrapplingHook/keys.cfg GrapplingHook/grapplinghook
	mac2unix GrapplingHook/grapplinghook

	./make-icons.sh ghook.png

	sed -e 's/@LIB64@/$(LIB64)/g; s/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' debian/grapplinghook.links.in > debian/grapplinghook.links
	sed -e 's/@LIB64@/$(LIB64)/g' debian/grapplinghook.install.in > debian/grapplinghook.install
	sed -e 's/@VERSION@/$(VERSION)/g' debian/grapplinghook.6.in > grapplinghook.6
	sed -e 's/@VERSION@/$(VERSION)/g' debian/grapplinghook.in > grapplinghook
	chmod a+x grapplinghook

ifneq ($(wildcard common-package.stamp),)
	rm -f debian/control
	cp debian/control-common debian/control
else
	cat debian/grapplinghook-common.install >> debian/grapplinghook.install
endif

override_dh_installdocs:
	dh_installdocs --link-doc=grapplinghook

override_dh_installchangelogs:
	dh_installchangelogs debian/upstream-changelog

override_dh_makeshlibs:

