Source: chocolate-duke3d
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9),
               libenet-dev,
               libsdl-mixer1.2-dev,
               pkg-config
Standards-Version: 3.9.5
Homepage: http://juanmabcblog.blogspot.com/2013/07/chocolate-duke3d.html
Vcs-Git: https://github.com/fabiensanglard/chocolate_duke3D.git
Vcs-Browser: https://github.com/fabiensanglard/chocolate_duke3D

Package: chocolate-duke3d
Architecture: i386
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Duke Nukem 3D source port
 Chocolate Duke Nukem 3D is the equivalent of Chocolate Doom.
 .
 A port that:
  * Remains as faithful as possible to the original source code.
  * Portable and compiling in one click on Windows, OS X and Linux.
  * Aimed at education, with lots of comments and documentation added in
    order to help programmers to understand and learn
