#!/usr/bin/make -f

export CFLAGS = $(filter-out -g -O2,$(shell dpkg-buildflags --get CFLAGS))


%:
	dh ${@} --parallel --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --bindir=/usr/games --disable-silent-rules

