Source: fmod4
Priority: extra
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9), execstack
Standards-Version: 3.9.5
Section: libs
Homepage: http://www.fmod.org/

Package: libfmod4
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: FMOD is a cross platform audio library and toolset
 FMOD is a cross platform audio library and toolset to let you easily
 implement the latest audio technologies into your title.

Package: libfmod-dev
Section: libdevel
Architecture: any
Depends: libfmod4 (= ${binary:Version}),
         ${misc:Depends}
Description: Development package for the FMOD library.
 FMOD is a cross platform audio library and toolset to let you easily
 implement the latest audio technologies into your title.
 .
 This package installs the header files and libraries
 needed to do development with FMOD.

Package: libfmodstudio4
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Designer API library for the FMOD Studio library
 FMOD is a cross platform audio library and toolset to let you easily
 implement the latest audio technologies into your title.

Package: libfmodstudio-dev
Section: libdevel
Architecture: any
Depends: libfmodstudio4 (= ${binary:Version}),
         ${misc:Depends}
Description: Development package for the FMOD Studio API
 FMOD is a cross platform audio library and toolset to let you easily
 implement the latest audio technologies into your title.
 .
 This package installs the header files and libraries
 needed to do development with the FMOD Studio API.

Package: libfmodstudio4-examples
Section: libdevel
Architecture: all
Depends: libfmodstudio-dev (= ${binary:Version}),
         ${misc:Depends}
Description: Development package for the FMOD Studio API
 FMOD is a cross platform audio library and toolset to let you easily
 implement the latest audio technologies into your title.
 .
 This package installs example files for the FMOD Studio API.

Package: fmod-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: FMOD documentation
 This package installs the FMOD documentation.
