#!/usr/bin/make -f

CXXFLAGS += -fno-strict-aliasing -Wno-unused-result -Wno-unused-but-set-variable -Wno-unused-function
LDFLAGS  += -Wl,--as-needed


%:
	dh $@ --parallel --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --bindir=/usr/games

override_dh_installchangelogs:
	dh_installchangelogs NEWS

