Source: franbow-demo
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9),
               imagemagick,
               unzip
Standards-Version: 3.9.6
Homepage: http://www.franbow.com/

Package: franbow-demo
Architecture: amd64 i386
Depends: ${misc:Depends},
         libc6 (>= 2.15),
         libgcc1 (>= 1:4.1.1),
         libgl1-mesa-glx | libgl1,
         libopenal1 (>= 1:1.13),
         libssl1.0.0 (>= 1.0.0),
         libstdc++6 (>= 4.1.1),
         libx11-6,
         libxxf86vm1,
         zlib1g (>= 1:1.1.4)
Description: point and click adventure with a touch of horror
 Fran Bow is a point and click adventure with a touch of horror.
 You play as Fran Bow, a little girl with a troubled mind and a story to tell!
 .
 Her parents are brutally murdered and the only thing she has left is her cat
 and aunt Grace who takes care of her. But something happens, her cat vanishes
 and she is taken to an asylum for mad children. One day the cat appear in her
 dreams and she starts to plot her escape… During her way back home she will
 get help from strange creatures and find out that the murder of her parents
 is unimaginably terrible, and finally confront the one responsible...

