#!/usr/bin/make -f


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf converted_icons franbow-demo franbow-demo.png

override_dh_auto_build:
	tar xvf franbow-demo.tar.gz
	mv "Fran Bow Demo" franbow-demo
	chmod 755 franbow-demo/runner
	cp franbow-demo/assets/icon.png franbow-demo.png
	./make-icons.sh franbow-demo.png

