#!/usr/bin/make -f

PKG = franbow-demo


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf converted_icons Fran_Bow_Demo franbow-demo.png

override_dh_auto_build:
	unzip franbow-demo.zip
	chmod 755 Fran_Bow_Demo/runner
	cp Fran_Bow_Demo/assets/icon.png franbow-demo.png
	./make-icons.sh franbow-demo.png

override_dh_shlibdeps:

override_dh_gencontrol:
	dh_gencontrol
	sed -i 's/Architecture: amd64/Architecture: i386/g' debian/$(PKG)/DEBIAN/control

