#!/usr/bin/make -f

CFLAGS := $(filter-out -Werror=format-security -g -O2,$(shell dpkg-buildflags --get CFLAGS))

ARCH = i386
ifeq ($(DEB_HOST_ARCH), amd64)
LIB64 = 64
ARCH = amd64
endif


%:
	dh ${@} --parallel

override_dh_auto_clean:
	dh_auto_clean -D native
	rm -rf debian/links debian/install converted_icons GrapplingHook_Demo

override_dh_auto_build:
	dh_auto_build -D native

	tar xvf GrapplingHook_Demo.tar.gz
	chmod a-x GrapplingHook_Demo/*/*
	cp GrapplingHook_Demo/keys.cfg GrapplingHook_Demo/grapplinghook-demo

	./make-icons.sh ghook-demo.png

	sed -e 's/@LIB64@/$(LIB64)/g' debian/links.in > debian/links
	sed -e 's/@LIB64@/$(LIB64)/g' debian/install.in > debian/install

override_dh_installchangelogs:
	dh_installchangelogs debian/upstream-changelog

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/lib/jvm/default-java/jre/lib/$(ARCH)

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

