#!/usr/bin/make -f

VERSION = $(shell dpkg-parsechangelog -SSource | sed 's/libqt//')
scripts = debian/postinst debian/prerm
tmp     = $(CURDIR)/debian/tmp


%:
	dh ${@}

override_dh_install: $(scripts)
	7z x addons.7z
	7z x essentials.7z
	7z x icu.7z
	tar xvf libmysqlclient16.txz
	mkdir -p $(tmp)/usr/lib/Qt
	mv $(VERSION) $(tmp)/usr/lib/Qt
	cp libmysqlclient16/*.so.* $(tmp)/usr/lib/Qt/*/*/lib/
	dh_install

override_dh_clean:
	dh_clean $(scripts)

$(scripts):
	sed -e 's/@VERSION@/$(VERSION)/g' $@.in > $@

override_dh_makeshlibs:

