#!/usr/bin/make -f

export V=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed,--no-undefined,--no-add-needed


%:
	dh $@ --with autoreconf,systemd

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-cli --enable-daemon \
		--enable-iec-units

override_dh_auto_clean:
	dh_auto_clean
	dh_auto_clean -Dqt
	rm -f qt/translations/*.qm

override_dh_installchangelogs:
	dh_installchangelogs -p transmission-common NEWS

override_dh_installdocs:
	dh_installdocs -p transmission-common

override_dh_installexamples:
	dh_installexamples -p transmission-common

override_dh_install:
	dh_install --list-missing -X LICENSE # extra copy in web dir - costela 2008-08-15

override_dh_strip:
	dh_strip --dbg-package=transmission-dbg

override_dh_bugfiles:
	dh_bugfiles -A
