Source: google-earth
Section: non-free/science
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9), dh-autoreconf, chrpath
Standards-Version: 3.9.5

Package: google-earth
Architecture: amd64 i386
Depends:
  libgcc1 (>= 1:4.1.1) [i386],
  libc6 (>= 2.4) [i386],
  libfontconfig1 (>= 2.9.0) [i386],
  libfreetype6 (>= 2.2.1) [i386],
  libgl1-mesa-glx [i386] | libgl1 [i386],
  libice6 (>= 1:1.0.0) [i386],
  libsm6 [i386],
  libstdc++6 (>= 4.1.1) [i386],
  libx11-6 [i386],
  libxext6 [i386],
  libxrender1 [i386],
  zlib1g (>= 1:1.1.4) [i386],
  lib32gcc1 (>= 1:4.1.1) [amd64],
  libc6-i386 (>= 2.4) [amd64],
  libfontconfig1:i386 (>= 2.9.0) [amd64],
  libfreetype6:i386 (>= 2.2.1) [amd64],
  libgl1-mesa-glx:i386 [amd64] | libgl1:i386 [amd64],
  libice6:i386 (>= 1:1.0.0) [amd64],
  libsm6:i386 [amd64],
  lib32stdc++6 (>= 4.1.1) [amd64],
  libx11-6:i386 [amd64],
  libxext6:i386 [amd64],
  libxrender1:i386 [amd64],
  zlib1g:i386 (>= 1:1.1.4) [amd64]
Provides: google-earth, googleearth
Description: 3D map/planet viewer
 Google Earth is a 3D map/planet viewer.
