#!/usr/bin/make -f

LIB = debian/google-earth/usr/lib/googleearth
SIZES = 16 22 24 32 48 64 128 256


%:
	dh ${@}

override_dh_auto_build:
	rm -rf patchelfmod-master
	tar xvf patchelfmod.tar.gz
	autoreconf -ivf patchelfmod-master
	dh_auto_configure -Dpatchelfmod-master
	dh_auto_build -Dpatchelfmod-master -- check

override_dh_auto_install:
	mkdir -p $(LIB)
	cd $(LIB) && tar xf $(CURDIR)/temp/googleearth-linux-x86.tar
	cd $(LIB) && tar xf $(CURDIR)/temp/googleearth-data.tar
	find debian/google-earth -type f -exec chrpath -d '{}' \;
	find debian/google-earth -type f -exec chmod a-x '{}' \;
	cd $(LIB) && chmod a+x googleearth-bin gpsbabel

	mv temp/README.linux temp/README
	rm -f $(LIB)/gpl.txt

	cp -r files/* debian/google-earth/usr
	mkdir -p debian/google-earth/usr/share/googleearth debian/google-earth/usr/share/pixmaps
	mv $(LIB)/product_logo_32.xpm debian/google-earth/usr/share/pixmaps/googleearth.xpm
	mv $(LIB)/lang $(LIB)/resources $(LIB)/shaders debian/google-earth/usr/share/googleearth
	$(foreach SIZE,$(SIZES),mkdir -p debian/google-earth/usr/share/icons/hicolor/$(SIZE)x$(SIZE)/apps ;\
	mv $(LIB)/product_logo_$(SIZE).png debian/google-earth/usr/share/icons/hicolor/$(SIZE)x$(SIZE)/apps/googleearth.png ;)

override_dh_makeshlibs:

override_dh_shlibdeps:

override_dh_strip:
	dh_strip
	$(CURDIR)/patchelfmod-master/src/patchelfmod --set-interpreter /lib/ld-linux.so.2 $(LIB)/googleearth-bin
	$(CURDIR)/patchelfmod-master/src/patchelfmod --add-needed libc.so.6 $(LIB)/libicudata.so.38

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
