Source: sublime-text-2
Section: editors
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends:
   debhelper (>= 9),
   dh-python,
   libglib2.0-0,
   libx11-6,
   python (>= 2.7)
Standards-Version: 3.9.6
Homepage: http://www.sublimetext.com/

Package: sublime-text-2
Architecture: amd64 i386
Depends:
   ${python:Depends},
   ${shlibs:Depends},
   ${misc:Depends}
Description: text editor for code, markup and prose
 Sublime Text is a sophisticated text editor for code, markup and prose.

