#!/usr/bin/make -f

make_icons = ./make-icons.sh
create_changelog = cd alephone-trunk && svn2cl --include-rev --group-by-day -r

mime_icons = \
	application-alephone-music.png \
	application-x-alephone-fila.png \
	application-x-alephone-imga.png \
	application-x-alephone-phya.png \
	application-x-alephone-scea.png \
	application-x-alephone-sgaa.png \
	application-x-alephone-shpa.png \
	application-x-alephone-snda.png \
	text-x-alephone-mml.png

common_flags = -Wall -Wno-sign-compare -Wno-narrowing -fno-strict-aliasing
CFLAGS   += $(common_flags)
CXXFLAGS += $(common_flags) -Wno-reorder
CPPFLAGS += -DLUA_USE_MKSTEMP
LDFLAGS  += -Wl,--as-needed


%:
	dh ${@} --parallel --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
		--bindir=/usr/games \
		--datadir=/usr/share/games

override_dh_install:
	dh_install -XLICENSE-DejaVu -XSquarishSansCT.README
	$(foreach ICON,$(mime_icons),\
	  $(make_icons) debian/$(ICON) debian/alephone/usr/share ;)
	$(foreach SIZE,16 22 24 32 48 64 96 128 256,\
	  mv debian/alephone/usr/share/icons/hicolor/$(SIZE)x$(SIZE)/apps \
	  debian/alephone/usr/share/icons/hicolor/$(SIZE)x$(SIZE)/mimetypes ;)
	$(make_icons) debian/alephone.png debian/alephone/usr/share
	rm -rf debian/alephone/usr/share/pixmaps

override_dh_installdocs:
	dh_installdocs --link-doc=alephone

override_dh_strip:
	dh_strip --dbg-package=alephone-dbg

get-orig-source:
	svn co --ignore-externals "svn://svn.code.sf.net/p/marathon/code/trunk" alephone-trunk
	$(create_changelog) {2001-01-01}:{2000-01-01} -o ChangeLog-2000
	$(create_changelog) {2002-01-01}:{2001-01-01} -o ChangeLog-2001
	$(create_changelog) {2003-01-01}:{2002-01-01} -o ChangeLog-2002
	$(create_changelog) {2004-01-01}:{2003-01-01} -o ChangeLog-2003
	$(create_changelog) {2006-01-01}:{2004-01-01} -o ChangeLog-2004-2005
	$(create_changelog) {2008-01-01}:{2006-01-01} -o ChangeLog-2006-2007
	$(create_changelog) {2010-01-01}:{2008-01-01} -o ChangeLog-2008-2009
	$(create_changelog) {2015-01-01}:{2010-01-01} -o ChangeLog-2010-2014
	$(create_changelog) {2016-01-01}:{2015-01-01} -o ChangeLog
	VER=`grep '^#define A1_DISPLAY_VERSION' alephone-trunk/Source_Files/Misc/alephversion.h | cut -d '"' -f2`; \
	REV=`svn info alephone-trunk | grep '^Revision:' | cut -d' ' -f2`; \
	echo "$${VER}+svn$${REV}" > alephone-trunk/VERSION
	rm -rf alephone-trunk/.svn

