[Desktop Entry]
Name=Marathon 2: Durandal
Comment=Old-school first-person shooter
Exec=marathon2
Type=Application
Categories=Game;
StartupNotify=true
Icon=marathon2
