#!/usr/bin/make -f

include debian/confflags


%:
	dh ${@} --parallel

override_dh_auto_clean:

override_dh_auto_configure:
	@echo 'CFLAGS = $(CFLAGS)'
	@echo 'CPPFLAGS = $(CPPFLAGS)'
	@echo 'LDFLAGS = $(LDFLAGS)'
	cd ffmpeg && \
	CFLAGS="$(CFLAGS)" CPPFLAGS="$(CPPFLAGS)" LDFLAGS="$(LDFLAGS)" \
	$(CURDIR)/ffmpeg/configure --disable-debug $(confflags) $(v3_confflags) $(nf_confflags)

override_dh_auto_build:
	cd ffmpeg && $(MAKE) V=1
	cd ffmpeg && $(MAKE) tools/qt-faststart V=1

override_dh_auto_install:
	cd ffmpeg && $(MAKE) install DESTDIR=$$PWD/tmp

override_dh_installchangelogs:
	dh_installchangelogs ffmpeg/Changelog

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

