[Desktop Entry]
Encoding=UTF-8
Name=QuickHash
GenericName=Graphical data hashing tool
Comment=Enables hashing of files, text and physical disks
Exec=quickhash %U
Terminal=false
Type=Application
StartupNotify=false
Icon=quickhash
Categories=GTK;Utility;

