#!/usr/bin/make -f

ifeq ($(DEB_HOST_ARCH),amd64)
BIN = Linux_x64/QuickHash-Linux-v.2.6.5-32Bit
else
BIN = Linux_x86/QuickHash-Linux-v.2.6.5-32Bit
endif


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf converted_icons Linux_x* quickhash

override_dh_auto_build:
	tar xvf QuickHash.tar.gz
	cp $(BIN) quickhash
	./make-icons.sh quickhash.ico

override_dh_installdocs:
	dh_installdocs -A Linux_x86/UserManual.pdf

override_dh_installchangelogs:
	dh_installchangelogs Linux_x86/README.txt

override_dh_compress:
	dh_compress -X.pdf

