#!/usr/bin/make -f

ifeq ($(shell dpkg-architecture -qDEB_HOST_ARCH),amd64)
arch = x64
else
arch = x86
endif
bin = QuickHash-Linux.2.6.7-$(arch)


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf converted_icons
	rm -f QuickHash-Linux.2.6.7-* README.txt *.pdf

override_dh_auto_build:
	tar xf quickhash.tgz
	mv $(bin) quickhash
	chmod a+x quickhash
	./make-icons.sh quickhash.ico

override_dh_installdocs:
	dh_installdocs -A UserManual.pdf

override_dh_installchangelogs:
	dh_installchangelogs README.txt

override_dh_compress:
	dh_compress -X.pdf

