#!/usr/bin/make -f

%:
	dh ${@}

override_dh_install:
	chmod 755 DivX265
	dh_install

override_dh_shlibdeps:
	# don't need it

override_dh_gencontrol:
	dh_gencontrol
	# set correct package architecture
	sed -i 's/Architecture: amd64/Architecture: i386/g' debian/divx265/DEBIAN/control

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

