Source: doom3-demo
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends:
 debhelper (>= 9),
 imagemagick,
 libstdc++5,
 libx11-6,
 libxext6
Standards-Version: 3.9.5

Package: doom3-demo
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libasound2-plugins
Description: Doom 3 demo
 Doom 3 is an fps game from id Software.
