Source: sswizard
Section: web
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends:
 debhelper (>= 9),
 libgdk-pixbuf2.0-0,
 libglib2.0-0,
 libgtk2.0-0,
 libpango-1.0-0,
 libx11-6,
 zlib1g
Standards-Version: 3.9.6
Homepage: http://www.sendspace.com

Package: sswizard
Architecture: amd64 i386
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Upload files to Sendspace
 SendSpace Wizard is a free desktop tool that lets
 you upload multiple files into your sendspace account.
