#!/usr/bin/make -f

VERSION = $(shell cat VERSION)
MANPAGES = bpgdecmod.1 bpgencmod.1 bpgviewmod.1

export CFLAGS  := -Wall $(shell dpkg-buildflags --get CFLAGS)
export LDFLAGS := -Wl,-z,defs $(shell dpkg-buildflags --get LDFLAGS)

x265_confflags = \
	-DCMAKE_BUILD_TYPE=Release \
	-DCMAKE_VERBOSE_MAKEFILE=ON \
	-DENABLE_CLI=OFF \
	-DENABLE_SHARED=OFF \
	-DENABLE_PIC=OFF


%:
	dh $@ --parallel

override_dh_auto_clean:
	[ ! -f config.mak ] || dh_auto_clean
	dh_auto_clean -Dpng
	dh_auto_clean -Dx265/source

override_dh_auto_configure:
	autoreconf -ivf png
	cd png && ./configure --prefix=/usr --enable-shared=no --enable-static=yes
	cp -f png/libpng.pc png/libpng16.pc
	cd x265/source && cmake $(x265_confflags) .
	dh_auto_configure -- \
		--enable-x265 \
		--extra-cppflags="-Ipng -Ix265/source" \
		--extra-ldflags="-Lpng/.libs -Lx265/source" \
		--extra-libs=-lz

override_dh_auto_build:
	dh_auto_build -Dpng
	dh_auto_build -Dx265/source
	dh_auto_build
	mv bpgdec bpgdecmod
	mv bpgenc bpgencmod
	mv bpgview bpgviewmod

override_dh_auto_test:
	./bpgdecmod -o outfile.png html/lena512color.bpg
	./bpgencmod -e jctvc -q 28 -o out-jctvc.bpg outfile.png
	./bpgencmod -e x265 -q 28 -o out-x265.bpg outfile.png

override_dh_auto_install:

override_dh_installdocs:
	dh_installdocs -A doc/bpg_spec.txt README

override_dh_installchangelogs:
	dh_installchangelogs -A ChangeLog

override_dh_installman: $(MANPAGES)
	dh_installman -plibbpgmod-bin $^

$(MANPAGES):
	sed -e 's/@VERSION@/$(VERSION)/;' debian/$@.header > $@
	./$(subst .1,,$@) >> $@ || true
	cat debian/$@.footer >> $@

override_dh_clean:
	dh_clean $(MANPAGES) out-*.bpg outfile.png

override_dh_compress:
	dh_compress -X.bpg

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

