#!/usr/bin/make -f

SOVERSION := $(shell head -n1 debian/changelog | cut -d' ' -f1 | tail -c+7)
VERSION := $(shell sed -e '1{;s|^fmodex$(SOVERSION) (\([0-9.]*\)-.*)\ .*|\1|;q;}' debian/changelog)

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

MYSED = sed -e 's/@VERSION@/$(VERSION)/g; s/@SOVERSION@/$(SOVERSION)/g; s/@LIB64@/$(LIB64)/g'

ifeq ($(DEB_HOST_ARCH), amd64)
LIB64 = 64
endif


%:
	dh ${@}

override_dh_auto_configure:
	tar xzf fmodapi*linux.tar.gz
	mv fmodapi*linux/* $(CURDIR)
	rm -rf fmodapi*linux Makefile
	cp debian/libfmodexN-dev.install           debian/libfmodex$(SOVERSION)-dev.install
	cp debian/libfmodeventN-dev.install        debian/libfmodevent$(SOVERSION)-dev.install
	cp debian/libfmodeventN-examples.examples  debian/libfmodevent$(SOVERSION)-examples.examples
	cp debian/libfmodexN-dev.examples          debian/libfmodex$(SOVERSION)-dev.examples
	$(MYSED) debian/control.in               > debian/control
	$(MYSED) debian/fmodevent.pc.in          > debian/fmodevent.pc
	$(MYSED) debian/fmodex.pc.in             > debian/fmodex.pc
	$(MYSED) debian/libfmodexN.install.in    > debian/libfmodex$(SOVERSION).install
	$(MYSED) debian/libfmodeventN.install.in > debian/libfmodevent$(SOVERSION).install

override_dh_installchangelogs:
	dh_installchangelogs documentation/revision.txt

override_dh_compress:
	dh_compress -X.pdf -X.mp3 -X.ogg

override_dh_clean:
	dh_clean
	rm -rf api documentation examples fmoddesignerapi tools \
		debian/libfmode*$(SOVERSION)*.examples \
		debian/libfmode*$(SOVERSION)*.install \
		debian/*.pc

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/libfmodex$(SOVERSION)/usr/lib/fmodex

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

