Source: adobe-flashplugin
Section: non-free/web
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9),
               chrpath,
               libgtk2.0-0,
               libfontconfig1,
               libfreetype6,
               libnspr4 | libnspr4-0d,
               libnss3 | libnss3-1d,
               libx11-6,
               libxcursor1,
               libxext6,
               libxrender1,
               libxt6,
               libice6,
               libkdecore5,
               libkdeui5,
               libkutils4,
               libqt4-dbus,
               libqt4-svg,
               libqtcore4,
               libqtgui4,
               libsm6,
               libxau6,
               libxdmcp6,
               libxft2,
               libxpm4
Standards-Version: 3.9.6
Homepage: http://www.adobe.com/

Package: adobe-flashplugin
Architecture: amd64 i386
Depends: wget,
         fontconfig,
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: adobe-flash-properties-gtk (= ${binary:Version}) | adobe-flash-properties-kde (= ${binary:Version})
Suggests: firefox | chromium-browser,
          x-ttcidfont-conf,
          msttcorefonts,
          ttf-bitstream-vera | ttf-dejavu,
          ttf-xfree86-nonfree,
          xfs (>= 1:1.0.1-5),
          libnspr4-0d,
          libnss3-1d
Conflicts: flashplayer-mozilla,
           flashplugin (<< 6),
           flashplugin-downloader,
           flashplugin-installer,
           xfs (<< 1:1.0.1-5)
Replaces: flashplugin (<< 6)
Provides: flashplugin-nonfree
Description: Adobe Flash Player plugin
 Adobe® Flash® Player is a cross-platform, browser-based application runtime
 that provides uncompromised viewing of expressive applications, content, and
 videos across browsers and operating systems.
 .
 This package provides plugins compatible with both Chromium and Mozilla based
 web browsers

Package: adobe-flash-properties-gtk
Architecture: amd64 i386
Depends: adobe-flashplugin (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Provides: adobe-flash-properties
Description: GTK+ control panel for Adobe Flash Player plugin
 Adobe® Flash® Player is a cross-platform, browser-based application runtime
 that provides uncompromised viewing of expressive applications, content, and
 videos across browsers and operating systems.
 .
 This package provides the GTK+ control panel for the Flash plugin.

Package: adobe-flash-properties-kde
Architecture: amd64 i386
Depends: adobe-flashplugin (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Provides: adobe-flash-properties
Description: KDE control panel Adobe Flash Player plugin
 Adobe® Flash® Player is a cross-platform, browser-based application runtime
 that provides uncompromised viewing of expressive applications, content, and
 videos across browsers and operating systems.
 .
 This package provides the KDE control panel for the Flash plugin.
