#!/usr/bin/make -f

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)


%:
	dh $@

override_dh_auto_clean:
	rm -rf flashplayer
	$(MAKE) -C patchelfmod clean

override_dh_auto_install:
	mkdir -p flashplayer
	cd flashplayer && tar xvf ../flashplayer.tgz
	mkdir -p debian/tmp
	cp -r flashplayer/usr debian/tmp
ifeq ($(DEB_HOST_ARCH),amd64)
	rm -r debian/tmp/usr/lib
	mv debian/tmp/usr/lib64 debian/tmp/usr/lib
endif

override_dh_install:
	dh_install
	chrpath -d debian/adobe-flash-properties-kde/usr/lib/kde4/kcm_adobe_flash_player.so

override_dh_installdocs:
	dh_installdocs --link-doc=adobe-flashplugin

# remove unnecessary dependencies that a binary was errerously linked against
# by deleting their DT_NEEDED entries from the ELF header
override_dh_shlibdeps:
	$(MAKE) -C patchelfmod clean all

	rm -f uselessdeps.log
	(dh_shlibdeps -- --warnings=2 2>&1 | tee uselessdeps.log) > /dev/null

	lines=$$(wc -l uselessdeps.log | cut -d' ' -f1) ;                                 \
	for n in $$(seq 1 $$lines) ;                                                      \
	do                                                                                \
	    dep=$$(cut -d' ' -f15 uselessdeps.log | sed -n $${n}p) ;                      \
	    bin=$$(cut -d' ' -f10 uselessdeps.log | sed -n $${n}p) ;                      \
	    patchelfmod/patchelfmod --debug --remove-needed $$dep $$bin 2>&1 | grep -v -e 'keeping' ; \
	done ;

	dh_shlibdeps

