Source: spaghetti-armageddon
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9),
               libgl1-mesa-glx,
               mesa-common-dev,
               libglu1-mesa-dev,
               libxrandr-dev,
               libfreetype6-dev,
               libopenal-dev,
               libsndfile1-dev,
               libjpeg-dev,
               libpng-dev,
               libglew1.5-dev,
               libsoil-dev
Standards-Version: 3.9.5
Homepage: http://alienbug.itch.io/spaghetti-armageddon

Package: spaghetti-armageddon
Architecture: i386
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: lo-fi first person shooter
 An inscrutably vague tale of espionage shown through the lens of a
 reprehensible, lo-fi first person shooter.
