#!/usr/bin/make -f


%:
	dh ${@}

override_dh_auto_clean:
	dh_auto_clean -DSFML-1.6
	rm -rf SpaghettiArmageddon SFML-1.6/lib

override_dh_auto_build:
	dh_auto_build -DSFML-1.6
	tar xvf SpaghettiArmageddon_Linux.tgz

override_dh_makeshlibs:

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/lib/spaghetti-armageddon

