#!/usr/bin/make -f

PKG = spaghetti-armageddon


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf SpaghettiArmageddon lib*.so.*

override_dh_auto_build:
	tar xvf SpaghettiArmageddon_Linux.tgz
	tar xvf SFML-1.6.txz

override_dh_makeshlibs:

override_dh_shlibdeps:

override_dh_gencontrol:
	dh_gencontrol
	sed -i 's/Architecture: amd64/Architecture: i386/g' debian/$(PKG)/DEBIAN/control

