#! /usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

CFLAGS   := $(filter-out -Werror=format-security -g -O2,$(shell dpkg-buildflags --get CFLAGS))
CPPFLAGS := $(shell dpkg-buildflags --get CPPFLAGS)
LDFLAGS  := $(filter-out %-Bsymbolic-functions,$(shell dpkg-buildflags --get LDFLAGS))
LDFLAGS  += -Wl,--as-needed 


%:
	dh $@ --parallel

override_dh_auto_clean:
	dh_auto_clean -Dffmpeg || true
	./waf distclean || true
	rm -rf build libs
	find . -type f -name \*.pyc -delete

override_dh_auto_configure:
	cd ffmpeg && ./configure \
		--prefix=$(CURDIR)/libs \
		--disable-programs \
		--disable-doc \
		--enable-libgsm \
		--enable-libass \
		--enable-libmp3lame \
		--enable-libopenjpeg \
		--enable-libopus \
		--enable-libpulse \
		--enable-libschroedinger \
		--enable-libspeex \
		--enable-libtheora \
		--enable-libtwolame \
		--enable-libvorbis \
		--enable-libvpx \
		--enable-libwavpack \
		--enable-gpl --enable-libxvid --enable-libx264 \
		--enable-version3 --enable-libopencore-amrnb --enable-libopencore-amrwb --enable-libvo-aacenc --enable-libvo-amrwbenc

override_dh_auto_build:
	dh_auto_build -Dffmpeg -- V=1
	$(MAKE) -C ffmpeg install V=1

	PKG_CONFIG_PATH="$(CURDIR)/libs/lib/pkgconfig" \
		./waf configure --prefix=/usr --confdir=/etc/mpv --enable-sdl2 --enable-zsh-comp
	./waf build -j `nproc` -v

override_dh_install:
	dh_install
	for s in 16x16 32x32 64x64 ; do \
  install -m644 -D etc/mpv-icon-8bit-$${s}.png $(CURDIR)/debian/mpv/usr/share/icons/hicolor/$${s}/apps/mpv.png ;\
done

override_dh_installdocs:
	dh_installdocs --link-doc=mpv

override_dh_strip:
	dh_strip --dbg-package=mpv-dbg

