Source: thegame
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends:
 debhelper (>= 9),
 libgl1-mesa-glx | libgl1
Standards-Version: 3.9.5
Homepage: http://www.piratehearts.com/blog/games/you-have-to-win-the-game/

Package: thegame
Architecture: amd64
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Provides: thegame, yhtwtg
Description: You Have to Win the Game
 You Have to Win the Game is a free exploration platformer with
 a retro 1980s PC aesthetic.
 .
 Run, jump, and avoid deadly pitfalls as you explore the ruins of
 a lost world in search of hidden treasures and rare artifacts!
 .
 Experience the thrill of four-color CGA graphics and monotonic PC
 speaker sounds!

Package: thegame-dbg
Architecture: amd64
Section: debug
Priority: extra
Depends: ${misc:Depends}, thegame (= ${source:Version})
Provides: thegame-dbg, yhtwtg-dbg
Description: debugging symbols for thegame
 You Have to Win the Game is a free exploration platformer with
 a retro 1980s PC aesthetic.
 .
 Run, jump, and avoid deadly pitfalls as you explore the ruins of
 a lost world in search of hidden treasures and rare artifacts!
 .
 Experience the thrill of four-color CGA graphics and monotonic PC
 speaker sounds!
 .
 This package installs the debugging symbols
 for 'You Have to Win the Game'.

Package: thegame-ega
Architecture: amd64
Depends: ${misc:Depends}, thegame (= ${source:Version})
Provides: thegame-ega, yhtwtg-ega
Description: EGA tileset for 'You Have to Win the Game'
 You Have to Win the Game is a free exploration platformer with
 a retro 1980s PC aesthetic.
 .
 Run, jump, and avoid deadly pitfalls as you explore the ruins of
 a lost world in search of hidden treasures and rare artifacts!
 .
 Experience the thrill of four-color CGA graphics and monotonic PC
 speaker sounds!
 .
 Take a peek at the future of home entertainment with the SIXTEEN-COLOR
 EGA GRAPHICS mod!
