Source: tsmuxer
Section: video
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9),
               imagemagick,
               upx-ucl
Standards-Version: 3.9.5
Homepage: http://forum.doom9.org/showthread.php?t=168539

Package: tsmuxer
Architecture: amd64 i386
Depends: ${misc:Depends},
         libc6 (>= 2.4),
         libfreetype6 (>= 2.2.1),
         libgcc1 (>= 1:4.1.1),
         libstdc++6 (>= 4.2.1),
         zlib1g (>= 1:1.1.4)
Description: mux video to TS/M2TS files or create BD disks
 tsMuxeR can be run in track detection mode or muxing mode. If run tsMuxeR with
 only one argument then tsMuxeR  display input track information required to
 construct meta file. If run tsMuxeR with two arguments tsMuxeR start muxing
 or demuxing process.

Package: tsmuxergui
Architecture: amd64 i386
Depends: ${misc:Depends},
         tsmuxer (>= 2),
         libc6 (>= 2.1.3),
         libgcc1 (>= 1:4.1.1),
         libqtcore4 (>= 4:4.7.0~beta1),
         libqtgui4 (>= 4:4.5.3),
         libstdc++6 (>= 4.1.1)
Description: mux video to TS/M2TS files or create BD disks - GUI
 tsMuxeR can be run in track detection mode or muxing mode. If run tsMuxeR with
 only one argument then tsMuxeR  display input track information required to
 construct meta file. If run tsMuxeR with two arguments tsMuxeR start muxing
 or demuxing process.
 .
 This package installs the GUI for tsMuxeR.
