#!/usr/bin/make -f


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf converted_icons tsMuxeR tsMuxerGUI release_notes.txt

override_dh_auto_build:
	tar xvf tsmuxer.tar.gz
	upx-ucl -d tsMuxeR tsMuxerGUI
	./make-icons.sh tsMuxerGUI.png

override_dh_installdocs:
	dh_installdocs --link-doc=tsmuxer

override_dh_installchangelogs:
	dh_installchangelogs release_notes.txt

override_dh_shlibdeps:

override_dh_gencontrol:
	dh_gencontrol
	sed -i 's/Architecture: amd64/Architecture: i386/g' debian/tsmuxer/DEBIAN/control
	sed -i 's/Architecture: amd64/Architecture: i386/g' debian/tsmuxergui/DEBIAN/control

