#!/usr/bin/make -f


%:
	dh ${@}

override_dh_auto_build:
	upx-ucl -d tsMuxeR tsMuxerGUI

override_dh_installchangelogs:
	dh_installchangelogs release_notes.txt

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

