#!/usr/bin/make -f

VERSION = $(shell head -n1 debian/changelog | cut -d' ' -f2 | head -c-2 | tail -c+2)


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf converted_icons tsMuxeR tsMuxerGUI release_notes.txt

override_dh_auto_build:
	tar xvf tsmuxer$(VERSION).tar.gz
	upx-ucl -d tsMuxeR tsMuxerGUI
	./make-icons.sh tsMuxerGUI.png

override_dh_installdocs:
	dh_installdocs --link-doc=tsmuxer

override_dh_installchangelogs:
	dh_installchangelogs release_notes.txt

