#!/usr/bin/make -f

SVN_VERSION := $(shell sed -e 's/-snapshot//' snapshot_version)

DEB_HOST_ARCH    ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
DEB_VENDOR       ?= $(shell dpkg-vendor --query Vendor)
EXTRA_CFLAGS      = \
	$(filter-out -g -O2 -Werror=format-security,$(shell dpkg-buildflags --get CFLAGS)) \
	-Wno-unused-parameter \
	-Wno-sign-compare

CONFIGURE_FLAGS = \
	--prefix=/usr \
	--confdir=/etc/mplayer \
	--enable-radio --enable-radio-capture \
	--disable-arts \
	--language=all \
	--enable-joystick \
	--disable-gui \
	--enable-runtime-cpudetection \
	--extra-cflags='$(EXTRA_CFLAGS)' \
	$(archconf)

ifeq ($(DEB_HOST_ARCH),i386)
  archconf += --target=i586-linux
endif

LANGS = fr ru cs hu it de es pl zh_CN



%:
	dh ${@} --parallel

override_dh_auto_clean:
	dh_auto_clean || true

override_dh_auto_configure:
	test -f VERSION || \
	echo '$(SVN_VERSION)' > VERSION
	rm -f ffmpeg/mp_auto_pull
	./configure $(CONFIGURE_FLAGS)

override_dh_auto_build:
	dh_auto_build -- mplayer mencoder V=1
	$(MAKE) html-chunked

override_dh_auto_install:

override_dh_install:
	$(MAKE) install-mplayer DESTDIR=$(CURDIR)/debian/mplayer
	$(MAKE) install-mplayer-man DESTDIR=$(CURDIR)/debian/mplayer
	$(MAKE) install-mencoder DESTDIR=$(CURDIR)/debian/mencoder
	$(MAKE) install-mplayer-man DESTDIR=$(CURDIR)/debian/mencoder

	cd $(CURDIR)/debian/mencoder/usr/share/man/man1 && mv mplayer.1 mencoder.1
	$(foreach LANG,$(LANGS),cd $(CURDIR)/debian/mencoder/usr/share/man/$(LANG)/man1 && \
	  mv mplayer.1 mencoder.1 ;)
	install -D -m 644 debian/mplayer.conf $(CURDIR)/debian/mplayer/etc/mplayer/mplayer.conf

	find debian/mencoder/ -type d -empty -delete
	dh_install

override_dh_installchangelogs:
	dh_installchangelogs Changelog

override_dh_clean:
	dh_clean VERSION

