#!/usr/bin/make -f

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
BITS = 32
ifeq ($(DEB_HOST_ARCH),amd64)
BITS = 64
endif


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf giana patchelf

override_dh_auto_build:
	tar xvf giana.tgz
	find giana -type f -exec chmod 0644 '{}' \;

	upx-ucl -d giana/giana_linux$(BITS)
	mv giana/giana_linux$(BITS) giana/giana
	chmod 0755 giana/giana

	strip giana/giana
	g++ -w -DPACKAGE_STRING=\"\" -DPAGESIZE=4096 -o patchelf patchelf.cpp
	./patchelf --remove-needed libglut.so.3 --remove-needed libGL.so.1 --remove-needed libGLU.so.1 giana/giana

	mv giana/giana.png giana/gianas-return.png
	dos2unix giana/*.txt

override_dh_strip:

override_dh_shlibdeps:

