#!/usr/bin/make -f

REVISION = $(shell dpkg-parsechangelog -SVersion | tail -c+3)


%:
	dh ${@} --parallel --with python3

override_dh_auto_clean:
	dh_auto_clean
	rm -rf sublime_text_3 sublime-text-3.1

override_dh_auto_build:
	tar xvf sublime_text_3.tar.bz2
	rename -v 's/sublime-text.png/sublime-text-3.png/' `find sublime_text_3/ -type f -name *.png`
	sed -e 's/@REVISION@/$(REVISION)/' debian/sublime-text-3.1.in > sublime-text-3.1

override_dh_installchangelogs:
	dh_installchangelogs sublime_text_3/changelog.txt

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

