#!/usr/bin/make -f

%:
	dh ${@}

override_dh_auto_clean:
	rm -rf converted_icons XnRetro

override_dh_auto_build:
	tar xvfz XnRetro-linux.tgz

	find XnRetro -type f -exec chmod 0644 '{}' \;
	chmod 0755 XnRetro/XnRetro
	chrpath -d XnRetro/XnRetro `find XnRetro/ -type f -name *.so*`

	./make-icons.sh XnRetro/xnretro.png

override_dh_install:
	dh_install -Xlibphonon.so.4

override_dh_makeshlibs:

override_dh_shlibdeps:
	#dh_shlibdeps -Lxnviewmp -l/usr/lib/xnretro/lib

override_dh_builddeb:
	dh_builddeb -- -Zxz

