#!/usr/bin/make -f

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
VERSION = $(shell dpkg-parsechangelog | grep -e "Version:" | cut -d' ' -f2 | cut -d'-' -f1)

OVRARCH = i386
ifeq ($(DEB_HOST_ARCH), amd64)
OVRARCH = x86_64
endif

DH_INSTALL_FILES = debian/libovr0.3.install \
                   debian/libovr-dbg.install \
                   debian/libovr-dev.install \
                   debian/libovr-dev.links


%:
	dh ${@} --parallel

$(DH_INSTALL_FILES):
	sed -e 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' $@.in > $@

override_dh_auto_configure: $(DH_INSTALL_FILES)
	rm -rf OculusSDK patchelfmod
	tar xvf ovr_sdk_linux_$(VERSION).tar.gz
	iconv -f ISO-8859-1 -t UTF-8 < OculusSDK/LICENSE.txt > debian/copyright
	sed -e 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g; s/@VERSION@/$(VERSION)/g' \
		debian/ovr.pc.in > debian/ovr.pc

override_dh_auto_build:
	rm -f OculusSDK/LibOVR/Lib/Linux/*/*/libovr.a
	cd OculusSDK/LibOVR && $(MAKE)
	cd OculusSDK/LibOVR && $(MAKE) DEBUG=1
	$(MAKE) -f debian/shared.mk DEBUG=1

	cp OculusSDK/LibOVR/Lib/Linux/Release/*/libovr.a $(CURDIR)
	mv libovr.a libovr_static.a
	cp OculusSDK/LibOVR/Lib/Linux/Debug/*/libovr.a $(CURDIR)
	mv libovr.a libovr_debug.a

	sed -i 's@"../Src@<OVR@g; s@.h"@.h>@g' OculusSDK/LibOVR/Include/OVR.h

	cp OculusSDK/Tools/OculusConfigUtil/OculusConfigUtil_$(OVRARCH) $(CURDIR)/oculusconfigutil
	strip oculusconfigutil

ifeq ($(shell apt-cache depends libudev-dev | grep -e "libudev0"),)
	git clone https://github.com/darealshinji/patchelfmod.git
	cd patchelfmod && autoreconf -ifv
	cd patchelfmod && ./configure && $(MAKE) check
	$(CURDIR)/patchelfmod/src/patchelfmod --replace-needed libudev.so.0,libudev.so.1 oculusconfigutil
endif

override_dh_clean:
	dh_clean -- *.a oculusconfigutil debian/ovr.pc $(DH_INSTALL_FILES)

override_dh_strip:
	dh_strip -Xlibovr_debug.a -Xoculusconfigutil --dbg-package=libovr-dbg

override_dh_compress:
	dh_compress -X.pdf

override_dh_gencontrol:
	dh_gencontrol
	# prevents Lintian warning virtual-package-depends-without-real-package-depends
	sed -i 's/, libgl1,/, libgl1-mesa-glx | libgl1,/g' debian/oculusconfigutil/DEBIAN/control
	sed -i 's/, libgl1,/, libgl1-mesa-glx | libgl1,/g' debian/libovr0.3/DEBIAN/control

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
