[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Freerunning 2
GenericName=Freerunning 2
Comment=Freerunning 2
Icon=freerunning2
Exec=freerunning2
Categories=Game;

