#!/usr/bin/make -f

PKG=thunderbird-launcher


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf $(PKG) *.png converted_icons

override_dh_auto_build:
	tar xvf thunderbird.tbz
	mv thunderbird $(PKG)
	find $(PKG) -type f -name *.so -exec chmod 0644 '{}' \;
	find $(PKG) -type f -name *.js -exec chmod 0644 '{}' \;
	cp $(PKG)/chrome/icons/default/default256.png $(PKG).png
	./make-icons.sh $(PKG).png

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/$(PKG)/usr/lib/$(PKG)

