Source: thegame
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9),
               imagemagick,
               libgl1-mesa-glx | libgl1
Standards-Version: 3.9.5
Homepage: http://www.piratehearts.com/blog/games/you-have-to-win-the-game/

Package: thegame
Architecture: amd64
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: thegame, yhtwtg
Description: You Have to Win the Game
 Exploration platformer with a retro 1980s PC aesthetic.

Package: thegame-dbg
Architecture: amd64
Section: debug
Priority: extra
Depends: ${misc:Depends},
         thegame (= ${binary:Version})
Provides: thegame-dbg, yhtwtg-dbg
Description: debugging symbols for thegame
 Exploration platformer with a retro 1980s PC aesthetic.
 .
 This package installs the debugging symbols
 for 'You Have to Win the Game'.

Package: thegame-ega
Architecture: amd64
Depends: ${misc:Depends},
         thegame (= ${binary:Version})
Provides: thegame-ega, yhtwtg-ega
Description: EGA tileset for 'You Have to Win the Game'
 Exploration platformer with a retro 1980s PC aesthetic.
 .
 This package installs the EGA tileset
 mod for 'You Have to Win the Game'.
