[Desktop Entry]
Type=Application
Name=µTorrent (Stop Daemon)
GenericName=Stop µTorrent Daemon
Comment=
Exec=utorrent -stop
Terminal=false
Icon=utorrent
Categories=Network;FileTransfer;P2P;
StartupNotify=true
