[Desktop Entry]
Comment=Keyhole Markup Language data
Hidden=false
Icon=/usr/share/pixmaps/googleearth.xpm
MimeType=application/earthviewer
Patterns=
Type=MimeType
