Source: libav
Section: video
Priority: optional
Maintainer: djcj <djcj@gmx.de>
Standards-Version: 3.9.5
Homepage: http://www.libav.org/
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 chrpath,
 cmake,
 doxygen,
 frei0r-plugins-dev,
 libasound2-dev,
 libbs2b-dev,
 libbz2-dev,
 libcdio-dev,
 libcdio-cdda-dev,
 libcdio-paranoia-dev,
 libdc1394-22-dev,
 libfaac-dev,
 libfontconfig1-dev,
 libfreetype6-dev,
#libgnutls28-dev conflicts with librtmp-dev
 libgnutls-dev,
 libgsm1-dev,
 libva-dev,
 libvdpau-dev,
 libmp3lame-dev,
 libnuma-dev,
 libopencore-amrnb-dev,
 libopencore-amrwb-dev,
 libopencv-dev,
 libopenjpeg-dev,
 libopus-dev,
 libpulse-dev,
 libraw1394-dev,
 librtmp-dev,
 libschroedinger-dev,
 libsdl1.2-dev,
 libsnappy-dev,
 libspeex-dev,
 libtheora-dev,
 libtiff-dev,
 libtwolame-dev,
 libvo-aacenc-dev,
 libvo-amrwbenc-dev,
 libvorbis-dev,
 libvpx-dev,
 libwavpack-dev,
 libwebp-dev,
 libxext-dev,
 libx11-xcb-dev,
 libxvidcore-dev,
 libxvmc-dev,
 pkg-config,
 texinfo,
 yasm,
 zlib1g-dev

Package: libav-tools
Section: video
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: frei0r-plugins
Description: Multimedia player, encoder and transcoder
 Libav is a complete, cross-platform solution to decode, encode, record,
 convert and stream audio and video.
 .
 This package contains the avplay multimedia player, the avconv audio
 and video encoder, and the avprobe stream analyzer.  They support most
 existing file formats (AVI, MPEG, OGG, Matroska, ASF...) and encoding
 formats (MPEG, DivX, MPEG4, AC3, DV...). Additionally, it contains the
 qt-faststart utility which rearranges Quicktime files to facilitate
 network streaming.

