Source: qsvencc
Section: video
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9), help2man
Standards-Version: 3.9.6
Homepage: http://rigaya34589.blog135.fc2.com/

Package: qsvencc
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: H.265 encoder
 QSVEncC is an H.265 encoder.
