Source: kvazaar
Section: video
Priority: optional
Maintainer: djcj <djcj@gmx.de>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 yasm
Standards-Version: 3.9.6
Homepage: https://github.com/ultravideo/kvazaar
Vcs-Git: https://github.com/ultravideo/kvazaar.git
Vcs-Browser: https://github.com/ultravideo/kvazaar

Package: kvazaar
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: open-source HEVC encoder
 This project is not yet finished and does not implement all
 the features of HEVC. Compression performance will increase as
 we add more coding tools.
