Source: xnviewmp
Section: graphics
Priority: optional
Maintainer: Pierre-e Gougelet <contact@xnview.com>
Build-Depends:
 debhelper (>= 9),
 chrpath,
 dos2unix,
 libasound2,
 libcups2,
 libegl1-x11,
 libfontconfig1,
 libfreetype6,
 libgl1,
 libglib2.0-0,
 libgstreamer-plugins-base0.10-0,
 libgtk2.0-0,
 libice6,
 libilmbase6,
 libpulse0,
 libsm6,
 libx11-6,
 libx11-xcb1,
 libxcb1,
 libxcomposite1,
 libxi6,
 libxml2,
 libxrender1,
 libxslt1.1,
 zlib1g
Standards-Version: 3.9.6
Homepage: http://www.xnview.com

Package: xnviewmp
Architecture: amd64 i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${perl:Depends}
Description: Graphic viewer, browser, converter.
 XnView MP is the enhanced version to XnView. It is a powerful
 cross-platform media browser, viewer and converter.
 And it's compatible with more than 500 formats.
