#!/usr/bin/make -f

VERSION = $(shell dpkg-parsechangelog -SVersion)

ifeq ($(DEB_HOST_ARCH),amd64)
x64 = -x64
endif


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf converted_icons XnView
	rm -f xnviewmp.1

override_dh_auto_build:
	tar xvf XnViewMP-linux$(x64).tgz
	for ext in gif pm png txt zip ; \
do \
  find XnView -type f -name *.$$ext -exec chmod 0644 '{}' \; \
 ; \
done
	dos2unix XnView/*.txt
	sed -e 's/@VERSION@/$(VERSION)/;' debian/xnviewmp.1.in > xnviewmp.1
	chrpath -d XnView/XnView || true
	chrpath -d XnView/lib/libqgsttools_p.so.1.0.0 || true

override_dh_installchangelogs:
	dh_installchangelogs XnView/WhatsNew.txt

override_dh_makeshlibs:
override_dh_shlibdeps:

override_dh_builddeb:
	dh_builddeb -- -Zgzip -z8

