#!/usr/bin/make -f

VERSION = $(shell dpkg-parsechangelog -SVersion)


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf XnView
	rm -f xnviewmp.1

override_dh_auto_build:
	tar xvf XnViewMP.tgz
	dos2unix XnView/*.txt
	sed -e 's/@VERSION@/$(VERSION)/;' debian/xnviewmp.1.in > xnviewmp.1
	cd XnView && chrpath -d XnView lib/libQtAV.so.1 lib/libQtAVWidgets.so.1 lib/libqgsttools_p.so.1.0.0
	chmod a-x XnView/*.txt XnView/AddOn/clut/* XnView/AddOn/lib/Image/ExifTool/Lang/*

override_dh_installchangelogs:
	dh_installchangelogs XnView/WhatsNew.txt

override_dh_makeshlibs:

override_dh_shlibdeps:
	#dh_shlibdeps -lusr/lib/xnviewmp/lib:usr/lib/xnviewmp/Plugins -Xlibqeglfs.so


