Source: alephone
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               imagemagick,
               libavcodec-dev,
               libavformat-dev,
               libavutil-dev,
               libboost-filesystem-dev,
               libboost-system-dev,
               libexpat1-dev,
               libgl1-mesa-dev,
               libglu1-mesa-dev,
               libmad0-dev,
               libpng12-dev,
               libsdl1.2-dev,
               libsdl-image1.2-dev,
               libsdl-net1.2-dev,
               libsdl-ttf2.0-dev,
               libsndfile1-dev,
               libswscale-dev,
               libvorbis-dev,
               libzzip-dev,
               zlib1g-dev,
               pkg-config
Standards-Version: 3.9.6
Homepage: http://aleph-one-marathon.github.io/
Vcs-Git: https://github.com/Aleph-One-Marathon/alephone
Vcs-Browser: https://github.com/Aleph-One-Marathon/alephone

Package: alephone
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Bungie's Marathon 2 game engine
 Aleph One is the open source continuation of Bungie's Marathon 2 game engine.
 Available for Mac OS X, Windows, and Linux, Aleph One supports Marathon,
 Marathon 2 and Marathon Infinity natively. Many third party scenarios and net
 maps are also available.

Package: alephone-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         alephone (= ${binary:Version})
Description: Bungie's Marathon 2 game engine - debug symbols
 Aleph One is the open source continuation of Bungie's Marathon 2 game engine.
 Available for Mac OS X, Windows, and Linux, Aleph One supports Marathon,
 Marathon 2 and Marathon Infinity natively. Many third party scenarios and net
 maps are also available.
 .
 This package contains the debug symbols for Aleph One.

