#!/usr/bin/make -f


%:
	dh ${@} --parallel --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --bindir=/usr/games
	echo '#define PKGDATADIR "/usr/share/games/AlephOne"' > Source_Files/confpaths.h

override_dh_install:
	dh_install -XLICENSE-DejaVu -XSquarishSansCT.README
	mv debian/alephone/usr/share/AlephOne debian/alephone/usr/share/games

override_dh_installdocs:
	dh_installdocs --link-doc=alephone

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

override_dh_strip:
	dh_strip --dbg-package=alephone-dbg

