#!/usr/bin/make -f

CXXFLAGS += -Wno-unused-parameter -Wno-unused-variable -Wno-reorder
LDFLAGS  += -Wl,--as-needed


%:
	dh ${@} -Dsrc --parallel

override_dh_auto_configure:
	dh_auto_configure -Sqmake_qt4

override_dh_auto_build:
	dh_auto_build
	chrpath -d src/bdsup2sub++

