#!/usr/bin/make -f

VERSION = $(shell dpkg-parsechangelog -SVersion | sed -e 's/1://;')
MINOR   = $(shell echo $(VERSION) | cut -d~ -f1 | cut -d. -f2)
MICRO   = $(shell echo $(VERSION) | cut -d~ -f1 | cut -d. -f3)

CXXFLAGS += -Wall -Wno-parentheses -Wno-switch -Wno-sign-compare -DRARVER_MINOR=$(MINOR)$(MICRO)


%:
	dh $@ --parallel

override_dh_auto_clean:
	dh_auto_clean
	rm -f unrar-nonfree.1

override_dh_auto_build:
	dh_auto_build
	sed 's/@VERSION@/$(VERSION)/' debian/unrar-nonfree.1.header > unrar-nonfree.1
	./unrar >> unrar-nonfree.1
	echo .fi >> unrar-nonfree.1

override_dh_auto_install:
	install -m755 unrar $(CURDIR)/debian/unrar/usr/bin/unrar-nonfree

