#!/usr/bin/make -f

PKG=firefox-launcher


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf $(PKG) *.png converted_icons

override_dh_auto_build:
	tar xvf firefox.tbz
	mv firefox $(PKG)
	find $(PKG) -type f -name *.so -exec chmod 0644 '{}' \;
	cp $(PKG)/browser/icons/mozicon128.png $(PKG).png
	./make-icons.sh $(PKG).png

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/$(PKG)/usr/lib/$(PKG)

