#!/usr/bin/make -f

cleanfiles = \
	xmakefile \
	admin/IntegTools/dbTools/installCDE.*.log \
	config/imake/Makefile.proto \
	programs/dtappbuilder/src/ab/*.res \
	programs/dtappbuilder/src/libABil/bil_parse.h \
	programs/dtappbuilder/src/libABil/bil_parse.c \
	programs/dtappbuilder/src/abmf/dtcodegen.cat \
	programs/dtcm/server/parser.h \
	programs/dtudcfonted/libfal/fonts.list \
	programs/ttsnoop/ttsnoop.h \
	programs/tttypes/*.deps

cleandirs = \
	admin/IntegTools/dbTools/appconfig \
	exports \
	doc/C/m-guides \
	programs/dtksh/ksh93/src/cmd/ksh93/FEATURE \
	programs/dtksh/ksh93/include

define \n


endef

tmp = $(CURDIR)/debian/tmp
cde = $(CURDIR)/debian/cdesktopenv
cde_common = $(CURDIR)/debian/cdesktopenv-common

export LANG=C
export LC_ALL=C
export IMAKECPP=cpp


%:
	dh ${@}

override_dh_auto_clean:
	rm -f lib/relink.mak
	[ ! -f xmakefile ] || $(MAKE) -j1 clean clean.doc
	find */* -name Makefile -delete
	find */* -name .depend -delete
	find */* -name lib*.so -delete
	find */* -name lib*.so.* -delete
	rm -f $(cleanfiles)
	rm -rf $(cleandirs)

override_dh_auto_build:
	$(MAKE) -j1 World
	sed -e 's|mkProd -D |&$(tmp)|g' -i admin/IntegTools/dbTools/installCDE
	cp -f debian/extra-files/relink.mak lib/
	$(MAKE) -C lib -f relink.mak

override_dh_auto_install:
	cd admin/IntegTools/dbTools/ && \
	INSTALL_LOCATION="$(tmp)/usr/dt" \
	LOGFILES_LOCATION="$(tmp)/var/dt" \
	CONFIGURE_LOCATION="$(tmp)/etc/dt" \
	  ./installCDE -s $(CURDIR)
	rm -rf $(tmp)/etc/rc.d
	cd $(tmp)/usr/dt && rm -f lib/*.so lib/*.so.* include examples \
	  CONTRIBUTORS COPYING copyright
	chrpath -r '$$ORIGIN/..' -k $(tmp)/usr/dt/bin/* || true
	chrpath -r '$$ORIGIN/..' -k $(tmp)/usr/dt/lib/dtudcfonted/* || true
	chrpath -r '$$ORIGIN/../..' -k $(tmp)/usr/dt/infolib/etc/* || true
	chrpath -r '$$ORIGIN/../..' -k $(tmp)/usr/dt/dthelp/dtdocbook/* || true
	sed -e '1 s|/usr/dt/bin/dtksh|/usr/lib/dt/bin/dtksh|' \
	  -i $(tmp)/usr/dt/bin/dterror.ds

override_dh_install:
	dh_install

	mv $(cde)/usr/lib/dt/share $(cde)/usr/share/dt
	mv $(cde)/usr/lib/dt/appconfig $(cde)/usr/share/dt
	mv $(cde)/usr/lib/dt/dthelp/help4help/C/graphics \
	  $(cde)/usr/share/dt/dthelp_help4help_C_graphics

	ln -fs ttrm $(cde)/usr/lib/dt/bin/ttrmdir
	ln -rs $(cde)/usr/share/dt $(cde)/usr/lib/dt/share
	ln -rs $(cde)/usr/share/dt/appconfig $(cde)/usr/lib/dt/appconfig
	ln -rs $(cde)/usr/share/dt/dthelp_help4help_C_graphics \
	  $(cde)/usr/lib/dt/dthelp/help4help/C/graphics

	find $(cde)/usr/share/dt/man/ -type f -exec gzip -f9 '{}' \;

	mv $(cde)/usr/share/dt $(cde_common)/usr/share
	rm -rf $(cde_common)/usr/share/dt/include
	cd $(cde_common)/usr/share && mv dt/examples doc/cdesktopenv-common

	chmod 0755 $(cde)/usr/lib/dt/bin/start-cde-xsession \
	 $(cde)/usr/lib/dt/config/Xsession.d/*
	chmod 0644 $(cde)/usr/lib/dt/app-defaults/C/Ttsnoop \
	 $(cde)/usr/lib/dt/config/sys.dtprofile \
	 $(cde)/usr/lib/dt/dthelp/dtdocbook/docbook.tcl \
	 $(cde)/usr/lib/dt/infolib/etc/dtsr/dtsearch.dbd

override_dh_installdocs:
	dh_installdocs --link-doc=cdesktopenv-common

override_dh_installexamples:
	dh_installexamples
	gzip -f9 $(cde_common)/usr/share/doc/cdesktopenv-common/examples/dtksh/*
	chmod 0644 $(cde_common)/usr/share/doc/cdesktopenv-common/examples/dtksh/*

override_dh_makeshlibs:

