#!/usr/bin/make -f

cleanfiles = \
	xmakefile \
	admin/IntegTools/dbTools/installCDE.*.log \
	config/imake/Makefile.proto \
	programs/dtappbuilder/src/ab/*.res \
	programs/dtappbuilder/src/libABil/bil_parse.h \
	programs/dtappbuilder/src/libABil/bil_parse.c \
	programs/dtappbuilder/src/abmf/dtcodegen.cat \
	programs/dtcm/server/parser.h \
	programs/dtudcfonted/libfal/fonts.list \
	programs/ttsnoop/ttsnoop.h \
	programs/tttypes/*.deps

cleandirs = \
	admin/IntegTools/dbTools/appconfig \
	exports \
	doc/C/m-guides \
	programs/dtksh/ksh93/src/cmd/ksh93/FEATURE \
	programs/dtksh/ksh93/include


%:
	dh ${@}

override_dh_auto_clean:
	rm -f lib/relink.mak
	[ ! -f xmakefile ] || $(MAKE) -j1 clean clean.doc
	find */* -name Makefile -delete
	find */* -name .depend -delete
	find */* -name lib*.so -delete
	find */* -name lib*.so.* -delete
	rm -f $(cleanfiles)
	rm -rf $(cleandirs)

override_dh_auto_build:
	export LANG=C; \
	export LC_ALL=C; \
	export IMAKECPP=cpp; \
	  $(MAKE) -j1 World

	sed -e 's|mkProd -D |&$(CURDIR)/debian/tmp|g' -i \
	  admin/IntegTools/dbTools/installCDE

	cp -f debian/extra-files/relink.mak lib/
	$(MAKE) -C lib -f relink.mak

override_dh_auto_install:
	export LANG=C; \
	export LC_ALL=C; \
	export INSTALL_LOCATION="$(CURDIR)/debian/tmp/usr/dt"; \
	export LOGFILES_LOCATION="$(CURDIR)/debian/tmp/var/dt"; \
	export CONFIGURE_LOCATION="$(CURDIR)/debian/tmp/etc/dt"; \
	  cd admin/IntegTools/dbTools/ && ./installCDE -s $(CURDIR)

	rm -f debian/tmp/usr/dt/lib/*.so debian/tmp/usr/dt/lib.so.*
	rm -rf debian/tmp/etc/rc.d

	chrpath -r '$$ORIGIN/../lib' -k debian/tmp/usr/dt/bin/* \
	  debian/tmp/usr/dt/lib/dtudcfonted/* || true
	chrpath -r '$$ORIGIN/../../lib' -k debian/tmp/usr/dt/infolib/etc/* \
	  debian/tmp/usr/dt/dthelp/dtdocbook/* || true

override_dh_install:
	dh_install -XCONTRIBUTORS -XCOPYING

override_dh_makeshlibs:

override_dh_fixperms:
	chmod 0755 $(CURDIR)/debian/cdesktopenv/usr/dt/bin/start-cde-xsession
	chmod 0755 $(CURDIR)/debian/cdesktopenv/usr/dt/config/Xsession.d/*
	chmod 0644 $(CURDIR)/debian/cdesktopenv/usr/dt/infolib/etc/dtsr/dtsearch.dbd
	chmod 0644 $(CURDIR)/debian/cdesktopenv/usr/dt/dthelp/dtdocbook/docbook.tcl
	chmod 0644 $(CURDIR)/debian/cdesktopenv/usr/dt/config/sys.dtprofile
	dh_fixperms

