Source: mrred
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9), imagemagick
Standards-Version: 3.9.5
Homepage: https://killmonday.wordpress.com/games-2/mr-reds-adventure-the-missing-balls/

Package: mrred
Architecture: any
Depends: libgcc1 (>= 1:4.1.1), libc6 (>= 2.15),
 libgl1-mesa-glx | libgl1, libopenal1 (>= 1:1.13), libssl1.0.0 (>= 1.0.0),
 libstdc++6 (>= 4.1.1), libx11-6, libxxf86vm1, zlib1g (>= 1:1.1.4)
Description: 2D platformer
 Mr Red's adventure in The Missing Balls
