Source: ffmpeg
Section: video
Priority: optional
Maintainer: djcj <djcj@gmx.de>
Standards-Version: 3.9.6
Vcs-Git: git://source.ffmpeg.org/ffmpeg.git
Vcs-Browser: http://git.videolan.org/?p=ffmpeg.git
Homepage: http://www.ffmpeg.org/
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 chrpath,
 cmake,
 doxygen,
 flite1-dev,
 frei0r-plugins-dev,
 ladspa-sdk,
 libasound2-dev,
 libass-dev,
 libavc1394-dev,
 libbluray-dev,
 libbs2b-dev,
 libbz2-dev,
 libcaca-dev,
 libcdio-dev,
 libcdio-cdda-dev,
 libcdio-paranoia-dev,
#libcelt is only available in Ubuntu 12.04
#libcelt-dev,
 libdc1394-22-dev,
 libfaac-dev,
 libfontconfig1-dev,
 libfreetype6-dev,
 libfribidi-dev,
 libgl1-mesa-dev,
 libgme-dev,
 libgsm1-dev,
#libgnutls28-dev conflicts with librtmp-dev
 libgnutls-dev,
 libiec61883-dev,
 liblzma-dev,
 libmodplug-dev,
 libmp3lame-dev,
# required by x265
 libnuma-dev,
 libopenal-dev,
 libopencore-amrnb-dev,
 libopencore-amrwb-dev,
 libopencv-dev,
#libopenjpeg-dev,
 libopus-dev,
 libpulse-dev,
 libraw1394-dev,
 librtmp-dev,
 librubberband-dev,
 libschroedinger-dev,
 libsdl1.2-dev,
#doesn't work on Ubuntu 14.04 (incompatible version?)
#libshine-dev,
 libsmbclient-dev,
 libsnappy-dev,
 libsoxr-dev,
 libspeex-dev,
 libssh-dev,
 libtesseract-dev,
 libtheora-dev,
 libtwolame-dev,
 libvo-amrwbenc-dev,
 libvorbis-dev,
 libvpx-dev,
 libwavpack-dev,
 libwebp-dev,
 libxext-dev,
 libx11-xcb-dev,
 libxvidcore-dev,
#doesn't work on Ubuntu 14.04 (incompatible version?)
#libzmq-dev,
 libzvbi-dev,
#ocl-icd-opencl-dev,
#opencl-headers,
 pkg-config,
 texinfo,
 yasm,
 zlib1g-dev,
#required by libtesseract-dev
 libleptonica-dev

Package: ffmpeg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: frei0r-plugins, ladspa-sdk
Description: Tools for transcoding, streaming and playing of multimedia files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.

