Source: ffmpeg
Section: video
Priority: optional
Maintainer: djcj <djcj@gmx.de>
Standards-Version: 3.9.5
Vcs-Git: git://source.ffmpeg.org/ffmpeg.git
Vcs-Browser: http://git.videolan.org/?p=ffmpeg.git;a=tree
Homepage: http://www.ffmpeg.org/
Build-Depends:
 debhelper (>= 9),
 frei0r-plugins-dev,
 libasound2-dev,
 libass-dev,
 libbluray-dev,
 libbz2-dev,
 libcdio-cdda-dev,
 libcdio-dev,
 libcdio-paranoia-dev,
 libdc1394-22-dev,
 libfreetype6-dev,
 libgnutls-dev,
 libgsm1-dev,
 libimlib2-dev,
 libjack-dev,
 liblzo2-dev,
 libmp3lame-dev,
 libfdk-aac-dev,
 libopencore-amrnb-dev,
 libopencore-amrwb-dev,
 libopenjpeg-dev,
 libopus-dev,
 libpulse-dev,
 libraw1394-dev,
 librtmp-dev,
 libschroedinger-dev,
 libsdl1.2-dev,
 libspeex-dev,
 libtheora-dev,
 libtiff-dev,
 libva-dev,
 libvdpau-dev,
 libvo-aacenc-dev,
 libvo-amrwbenc-dev,
 libvorbis-dev,
 libvpx-dev,
 libwavpack-dev,
 libx11-dev,
 libx264-dev,
 libxext-dev,
 libxfixes-dev,
 libxvidcore-dev,
 libxvmc-dev,
 texi2html,
 doxygen,
 yasm,
 zlib1g-dev

Package: ffmpeg
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Recommends:
 qt-faststart
Suggests:
 frei0r-plugins
Description: Tools for transcoding, streaming and playing of multimedia files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This package contains:
  * ffmpeg: a command line tool to convert multimedia files between formats
  * ffserver: a multimedia streaming server for live broadcasts
  * ffplay: a simple media player based on SDL and the FFmpeg libraries
  * ffprobe: a simple multimedia stream analyzer
 .
 NOTE: It does not contain qt-faststart to avoid a conflict with libav-tools.
       If you need qt-faststart from FFmpeg, install the package qt-faststart,
       which is recommended by this package.

Package: qt-faststart
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Breaks: ffmpeg (<< 7:2)
Replaces: ffmpeg (<< 7:2)
Description: Utility to rearrange a Quicktime file
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This package contains qt-faststart, a utility that rearranges a Quicktime
 file such that the moov atom is in front of the data, thus facilitating
 network streaming.
 .
 NOTE: It diverts the qt-faststart from libav-tools to qt-faststart.libav.

Package: ffmpeg-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends:
 ffmpeg (= ${binary:Version}),
 ${misc:Depends}
Description: Debug symbols for the FFmpeg multimedia framework
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This package contains the debug symbols used to produce useful debugging
 back-traces.

Package: ffmpeg-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends:
 libjs-jquery,
 ${misc:Depends}
Description: Documentation of the FFmpeg multimedia framework
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This package contains the HTML documentation for the FFmpeg multimedia
 framework including the API documentation created by doxygen and the manpages
 for the libraries.

