#!/usr/bin/make -f

CFLAGS   := -O3 $(filter-out -g -O2,$(shell dpkg-buildflags --get CFLAGS))
CXXFLAGS := -O3 $(filter-out -g -O2,$(shell dpkg-buildflags --get CXXFLAGS))
LDFLAGS  := -Wl,-z,relro -Wl,-z,defs -Wl,--as-needed

export V=1

X264_CONFIG = \
	--host=$(DEB_HOST_GNU_TYPE) \
	--disable-cli \
	--enable-shared \
	--disable-swscale \
	--disable-lavf \
	--disable-ffms \
	--disable-gpac \
	--disable-lsmash

X265_CONFIG = \
	-DENABLE_CLI=OFF \
	-DENABLE_SHARED=OFF \
	-DENABLE_AGGRESSIVE_CHECKS=ON \
	-DENABLE_PIC=ON

ifneq ($(DEB_HOST_ARCH),amd64)
# asm not supported on i386
X265_CONFIG += -DENABLE_ASSEMBLY=OFF
endif

DEB_REVISION = $(word 2, $(subst -, ,$(shell dpkg-parsechangelog -SVersion)))

CONFIG = --prefix=/usr \
	--extra-version="$(DEB_REVISION)" \
	--libdir=/usr/lib/ffmpeg \
	--shlibdir=/usr/lib/ffmpeg \
	--enable-shared \
	--disable-static \
	--disable-debug \
	--toolchain=hardened \
	--enable-pthreads \
	--enable-runtime-cpudetect \
	--enable-d3d11va \
	--enable-dxva2 \
	--enable-vaapi \
	--enable-vda \
	--enable-vdpau \
	--enable-gpl \
	--enable-version3 \
	--enable-nonfree \
	--enable-avisynth \
	--enable-bzlib \
	--enable-fontconfig \
	--enable-frei0r \
	--enable-gnutls \
	--enable-ladspa \
	--enable-libass \
	--enable-libbluray \
	--enable-libbs2b \
	--enable-libcaca \
	--enable-libcdio \
	--enable-libdc1394 \
	--enable-libfaac \
	--enable-libfdk-aac \
	--enable-libflite \
	--enable-libfreetype \
	--enable-libfribidi \
	--enable-libgme \
	--enable-libgsm \
	--enable-libiec61883 \
	--enable-libkvazaar \
	--enable-libmodplug \
	--enable-libmp3lame \
	--enable-libopencore-amrnb \
	--enable-libopencore-amrwb \
	--enable-libopencv \
	--enable-libopus \
	--enable-libpulse \
	--enable-librtmp \
	--enable-librubberband \
	--enable-libschroedinger \
	--enable-libsmbclient \
	--enable-libsnappy \
	--enable-libsoxr \
	--enable-libspeex \
	--enable-libssh \
	--enable-libtesseract \
	--enable-libtheora \
	--enable-libtwolame \
	--enable-libvo-amrwbenc \
	--enable-libvorbis \
	--enable-libvpx \
	--enable-libwavpack \
	--enable-libwebp \
	--enable-libx264 \
	--enable-libx265 \
	--enable-libxcb \
	--enable-libxcb-shm \
	--enable-libxcb-xfixes \
	--enable-libxcb-shape \
	--enable-libxvid \
	--enable-libzvbi \
	--enable-openal \
	--enable-opengl

#	--enable-opencl
#	--enable-libopenjpeg


%:
	dh ${@} --parallel

override_dh_auto_clean:
	[ ! -f config.mak ] || $(MAKE) distclean
	[ ! -f x264/config.mak ] || $(MAKE) -C x264 distclean
	dh_auto_clean -Dfdk-aac
	dh_auto_clean -Dkvazaar
	rm -rf x265_12bit x265_10bit x265_8bit x264_10bit libs
	rm -f ffmpeg-qt-faststart

override_dh_auto_configure:
	# x264 10bit
	cp -rf x264 x264_10bit
	cd x264_10bit && ./configure \
		$(X264_CONFIG) \
		--prefix=$(CURDIR)/x264_10bit/libs \
		--libdir=$(CURDIR)/x264_10bit/libs/lib \
		--bit-depth=10

	# x264 8bit
	cd x264 && ./configure \
		$(X264_CONFIG) \
		--prefix=$(CURDIR)/libs \
		--libdir=$(CURDIR)/libs/lib \
		--bit-depth=8

	# x265 main10 main12
	dh_auto_configure \
		--buildsystem=cmake \
		--sourcedirectory=x265/source \
		--builddirectory=x265_12bit \
		-- $(X265_CONFIG) \
		-DHIGH_BIT_DEPTH=ON \
		-DEXPORT_C_API=OFF \
		-DMAIN12=ON
	dh_auto_configure \
		--buildsystem=cmake \
		--sourcedirectory=x265/source \
		--builddirectory=x265_10bit \
		-- $(X265_CONFIG) \
		-DHIGH_BIT_DEPTH=ON \
		-DEXPORT_C_API=OFF

	# kvazaar
	autoreconf -ivf kvazaar
	cd kvazaar && ./configure \
		--host=$(DEB_HOST_GNU_TYPE) \
		--prefix=$(CURDIR)/libs \
		--libdir=$(CURDIR)/libs/lib \
		--enable-static=yes \
		--enable-shared=no \
		--disable-werror \
		--with-pic=yes

	# x265 main
	mkdir x265_8bit
	ln -s ../x265_10bit/libx265.a x265_8bit/libx265_main10.a
	ln -s ../x265_12bit/libx265.a x265_8bit/libx265_main12.a
	dh_auto_configure \
		--buildsystem=cmake \
		--sourcedirectory=x265/source \
		--builddirectory=x265_8bit \
		-- $(X265_CONFIG) \
		-DCMAKE_INSTALL_PREFIX=$(CURDIR)/libs \
		-DLIB_INSTALL_DIR=lib \
		-DHIGH_BIT_DEPTH=OFF \
		-DEXTRA_LIB="x265_main10.a;x265_main12.a;-ldl" \
		-DEXTRA_LINK_FLAGS="-L$(CURDIR)/x265_8bit" \
		-DLINKED_10BIT=ON \
		-DLINKED_12BIT=ON

	# fdk-aac
	autoreconf -ivf fdk-aac
	dh_auto_configure -Dfdk-aac -- \
		--host=$(DEB_HOST_GNU_TYPE) \
		--prefix=$(CURDIR)/libs \
		--libdir=$(CURDIR)/libs/lib \
		--enable-static=yes \
		--enable-shared=no \
		--with-pic=yes

override_dh_auto_build:
	# x264
	dh_auto_build -Dx264
	$(MAKE) -C x264 install
	dh_auto_build -Dx264_10bit
	$(MAKE) -C x264_10bit install

	# x265
	dh_auto_build --builddirectory=x265_12bit
	dh_auto_build --builddirectory=x265_10bit
	dh_auto_build -Dx265_8bit
	$(MAKE) -C x265_8bit install
	cp x265_8bit/libx265_main*.a $(CURDIR)/libs/lib
	sed -e 's|@PREFIX@|$(CURDIR)/libs|g; s|@VERSION@|$(shell cat x265/VERSION)|g' \
		debian/x265.pc.in > $(CURDIR)/libs/lib/pkgconfig/x265.pc

	# fdk-aac
	dh_auto_build -Dfdk-aac
	$(MAKE) -C fdk-aac install

	# kvazaar
	dh_auto_build -Dkvazaar
	$(MAKE) -C kvazaar install

	# ffmpeg
	# set hardening flags with --toolchain=hardened
	CFLAGS="-I$(CURDIR)/libs/include" CPPFLAGS="" \
	LDFLAGS="-Wl,-z,defs -Wl,--allow-multiple-definition -Wl,-rpath,XORIGIN/../lib/ffmpeg -L$(CURDIR)/libs/lib" \
	PKG_CONFIG_PATH="$(CURDIR)/libs/lib/pkgconfig:$(CURDIR)/debian/pkgconfig" \
		./configure $(CONFIG) || (cat config.log && exit 1)
	dh_auto_build
	dh_auto_build -- tools/qt-faststart
	chrpath -d tools/qt-faststart
	mv tools/qt-faststart ffmpeg-qt-faststart

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/tmp
	install -m755 -D debian/ffmpeg-x264_10bit $(CURDIR)/debian/tmp/usr/bin
	for f in debian/tmp/usr/bin/ff* ; \
do \
  chrpath -r '$$ORIGIN/../lib/ffmpeg' $$f ;\
done
	for f in debian/tmp/usr/lib/ffmpeg/*.so.* ; \
do \
  chrpath -r '$$ORIGIN' $$f ;\
done

override_dh_installchangelogs:
	dh_installchangelogs Changelog

override_dh_makeshlibs:

