#!/usr/bin/make -f

PKG = xnretro


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf converted_icons XnRetro

override_dh_auto_build:
	tar xvfz XnRetro-linux.tgz
	rm -rf XnRetro/lib

	find XnRetro -type f -exec chmod 0644 '{}' \;
	chmod a+x XnRetro/XnRetro
	chrpath -d XnRetro/XnRetro

	./make-icons.sh xnretro.png

override_dh_shlibdeps:

override_dh_gencontrol:
	dh_gencontrol
	sed -i 's/Architecture: amd64/Architecture: i386/g' debian/$(PKG)/DEBIAN/control

