#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_GNU_CPU   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_CPU)

SOVERSION = $(shell head -n1 debian/changelog | cut -d' ' -f1 | tail -c+5)
VERSION   = $(shell sed -e '1{;s|^fmod$(SOVERSION) (\([0-9.]*\)-.*)\ .*|\1|;q;}' debian/changelog)

ifeq ($(DEB_HOST_GNU_CPU), i386)
ARCH = x86
else
ARCH = $(DEB_HOST_GNU_CPU)
endif

MYSED = sed -e 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/; s/@VERSION@/$(VERSION)/; s/@SOVERSION@/$(SOVERSION)/g; s/@ARCH@/$(ARCH)/g'
DH_INSTALL_FILES = debian/control \
                   debian/fmod.pc \
                   debian/fmodstudio.pc \
                   debian/libfmod-dev.install \
                   debian/libfmodstudio-dev.install


%:
	dh ${@}

$(DH_INSTALL_FILES):
	$(MYSED) $@.in > $@

override_dh_auto_configure: $(DH_INSTALL_FILES)
	tar xzf fmodstudioapi-linux.tgz
	mv fmodstudioapi*linux/* $(CURDIR)
	rm -rf fmodstudioapi*linux api/studio/examples/plugins

	cp debian/libfmodstudioN-examples.examples  debian/libfmodstudio$(SOVERSION)-examples.examples
	cp debian/libfmodN-dev.examples             debian/libfmod$(SOVERSION)-dev.examples
	$(MYSED) debian/libfmodN.install.in       > debian/libfmod$(SOVERSION).install
	$(MYSED) debian/libfmodstudioN.install.in > debian/libfmodstudio$(SOVERSION).install

	# remove executable stack
	execstack -c api/lowlevel/lib/*/*.so.*.*

override_dh_auto_clean:
	rm -rf api doc debian/*.pc debian/*.install \
	debian/libfmodstudio$(SOVERSION)-examples.examples \
	debian/libfmod$(SOVERSION)-dev.examples \
	debian/libfmod$(SOVERSION).install \
	debian/libfmodstudio$(SOVERSION).install

override_dh_installchangelogs:
	dh_installchangelogs doc/revision.txt

override_dh_compress:
	dh_compress -X.pdf -X.mp3 -X.ogg

