#!/usr/bin/make -f

PKG = am2r-demo


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf AM2R_Demo
	rm -f AM2R_Demo_install.sh readme.txt

override_dh_auto_build:
	tar xvf am2r_demo.tgz

override_dh_installchangelogs:
	dh_installchangelogs debian/UPSTREAM-CHANGELOG

override_dh_shlibdeps:

override_dh_gencontrol:
	dh_gencontrol
	sed -i 's/Architecture: amd64/Architecture: i386/g' debian/$(PKG)/DEBIAN/control

