#!/usr/bin/make -f

DISTRIBUTION  = $(shell dpkg-parsechangelog | grep -e "Distribution:" | cut -d' ' -f2)
VERSION       = $(shell dpkg-parsechangelog | grep -e "Version:" | cut -d' ' -f2 | cut -d~ -f1)
DEB_HOST_ARCH = $(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(DISTRIBUTION), precise)
ifeq ($(DEB_HOST_ARCH), amd64)
U2DEB_I386 = , u2deb-i386-deps
endif
else
GLU1_I386 = libglu1-mesa:i386,
GTK2_I386 = libgtk2.0-0:i386,
endif


%:
	dh ${@}

override_dh_auto_clean:

override_dh_auto_build:

override_dh_auto_configure:
	sed -e 's/@U2DEB_I386@/$(U2DEB_I386)/; s/@GLU1_I386@/$(GLU1_I386)/; s/@GTK2_I386@/$(GTK2_I386)/;' \
		debian/control.in > debian/control
ifeq ($(DISTRIBUTION), precise)
	cat debian/u2deb-i386-deps.in >> debian/control
endif
	sed -e 's/@VERSION@/$(VERSION)/;' debian/u2deb.1.in > debian/u2deb.1

override_dh_install:
	dh_install
	install -m755 u2deb.sh $(CURDIR)/debian/u2deb/usr/bin/u2deb

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
