#!/usr/bin/make -f

CFLAGS  := $(filter-out -g -O2,$(shell dpkg-buildflags --get CFLAGS))
LDFLAGS := -Wl,-z,relro -Wl,-z,defs -Wl,--as-needed -Wl,-rpath,XORIGIN/../lib/x264

export V=1

help2man = \
	LD_LIBRARY_PATH="$${LD_LIBRARY_PATH}:$(CURDIR)/libs/lib" \
	help2man -n "fast h264 encoder" -N -s1 -S "Videolan project" -h '--fullhelp'

x264_configure = \
	cd x264-source && \
	CFLAGS="$(CFLAGS) -I$(CURDIR)/libs/include" \
	LDFLAGS="$(LDFLAGS) -L$(CURDIR)/libs/lib" \
	./configure \
		--prefix=/usr \
		--host=$(DEB_HOST_GNU_TYPE) \
		--extra-ldflags="-lswresample -lpng -ljpeg -lz"


%:
	dh $@ --parallel

override_dh_auto_clean:
	[ ! -f ffmpeg/config.mak ] || $(MAKE) -C ffmpeg distclean
	[ ! -f x264-source/config.mak ] || $(MAKE) -C x264-source distclean
	rm -rf libs
	rm -f x264-source/x264-10bit x264-source/x264-10bit.1 x264-source/x264.1

override_dh_auto_build:
	cd ffmpeg && ./configure \
		--prefix=$(CURDIR)/libs \
		--libdir=$(CURDIR)/libs/lib \
		--disable-static \
		--enable-shared \
		--disable-debug \
		--disable-programs \
		--disable-doc \
		--disable-bzlib \
		--disable-lzma \
		--enable-gpl \
		--enable-version3 \
		--disable-encoders
	dh_auto_build -Dffmpeg
	$(MAKE) -C ffmpeg install

	$(x264_configure) --bit-depth=10
	dh_auto_build -Dx264-source
	mv x264-source/x264 x264-source/x264-10bit
	$(help2man) x264-source/x264-10bit > x264-source/x264-10bit.1
	dh_auto_clean -Dx264-source

	$(x264_configure)
	dh_auto_build -Dx264-source
	$(help2man) x264-source/x264 > x264-source/x264.1

	chrpath -r '$$ORIGIN/../lib/x264' x264-source/x264
	chrpath -r '$$ORIGIN/../lib/x264' x264-source/x264-10bit
	for f in libs/lib/*.so.* ; \
do \
  chrpath -r '$$ORIGIN' $$f ;\
done

override_dh_makeshlibs:

