#!/usr/bin/make -f


%:
	dh ${@} --parallel

override_dh_auto_clean:
	premake4 clean || true
	rm -rf build converted_icons

override_dh_auto_configure:
	premake4 gmake

override_dh_auto_build:
	dh_auto_build -Dbuild -- verbose=1
	cp xcode/Resources/Images.xcassets/AppIcon.appiconset/Dagon512x512.png build/dagon.png
	./make-icons.sh build/dagon.png

override_dh_installdocs:
	dh_installdocs --link-doc=dagon

override_dh_strip:
	dh_strip --dbg-package=dagon-dbg

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

