#!/usr/bin/make -f

export V=1

%:
	dh ${@} --parallel

override_dh_auto_clean:
	dh_auto_clean
	rm -rf x264 ffmpeg fdk-aac gpac

override_dh_auto_build:
	cp -r deps/* $(CURDIR)
	dh_auto_build

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

override_dh_install:
	dh_install --sourcedir=$(CURDIR)/debian/tmp

override_dh_shlibdeps:
	# recognize the dependencies of the embedded helper tools
	cp -f ffmpeg/ffmpeg $(CURDIR)/debian/yua/usr/bin
	cp -f gpac/bin/gcc/mp4box $(CURDIR)/debian/yua/usr/bin
	dh_shlibdeps
	cd $(CURDIR)/debian/yua/usr/bin && rm -f ffmpeg mp4box

