#!/usr/bin/make -f

PKG=google-chrome-stable


%:
	dh ${@}

override_dh_auto_clean:
	dh_auto_clean
	rm -rf chrome-files

override_dh_auto_install:

override_dh_install:
	dpkg-deb -x google-chrome-deb.bin chrome-files
	cd chrome-files/opt/google/chrome && mv google-chrome google-chrome.sh
	cd chrome-files/usr/share/man/man1 && mv google-chrome.1 google-chrome-stable.1

	for icon in "chrome-files/opt/google/chrome/product_logo_"*.png; do \
		size="$${icon##*/product_logo_}"; \
		dir="debian/$(PKG)/usr/share/icons/hicolor/$${size}x$${size}/apps"; \
		mkdir -p "$$dir"; \
		mv "$$icon" "$$dir/google-chrome.png"; \
	done
	mv chrome-files/opt/google/chrome/product_logo_32.xpm \
		$(CURDIR)/debian/$(PKG)/usr/share/pixmaps/google-chrome.xpm

	dh_install -Xxdg-mime -Xxdg-settings

# dh_strip will fail
override_dh_strip:

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/$(PKG)/usr/lib/google-chrome

override_dh_fixperms:
	dh_fixperms
	chmod 4755 $(CURDIR)/debian/$(PKG)/usr/lib/google-chrome/chrome-sandbox

