[Desktop Entry]
Name=You Have to Win the Game
GenericName=The Game
Comment=An exploration platformer with a retro 1980s PC aesthetic
Exec=thegame
Icon=yhtwtg
Type=Application
StartupNotify=false
Terminal=false
Categories=Game;
