Source: fmodex4.44
Priority: extra
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9), automake, git
Standards-Version: 3.9.5
Section: libs
Homepage: http://www.fmod.org/

Package: libfmodex4.44
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: FMOD is a cross platform audio library and toolset
 FMOD is a cross platform audio library and toolset to let you easily
 implement the latest audio technologies into your title.
 .
 The FMOD Ex sound system is a revolutionary new audio engine for
 game developers, multimedia developers, sound designers, musicians
 and audio engineers, based on the years of experienced of Firelight
 Technologies(tm) previous product FMOD.
 It also aims high - to push the boundaries of audio implementation
 for games and the like while at the same time using minimal resources
 and being scalable. This new engine is written from the ground up
 since FMOD 3 was released and involves years of experience and
 feedback from FMOD users to create the most feature filled and easy
 to use product possible, without the rawbacks of legacy
 implementation that FMOD 3 may have suffered from its years of
 continuous development.

Package: libfmodex4.44-dev
Section: libdevel
Architecture: any
Depends: libfmodex4.44 (= ${binary:Version}),
         ${misc:Depends}
Description: Development package for the FMOD Ex library.
 FMOD is a cross platform audio library and toolset to let you easily
 implement the latest audio technologies into your title.
 .
 The FMOD Ex sound system is a revolutionary new audio engine for
 game developers, multimedia developers, sound designers, musicians
 and audio engineers, based on the years of experienced of Firelight
 Technologies(tm) previous product FMOD.
 It also aims high - to push the boundaries of audio implementation
 for games and the like while at the same time using minimal resources
 and being scalable. This new engine is written from the ground up
 since FMOD 3 was released and involves years of experience and
 feedback from FMOD users to create the most feature filled and easy
 to use product possible, without the rawbacks of legacy
 implementation that FMOD 3 may have suffered from its years of
 continuous development.
 .
 This package installs the header files and libraries
 needed to do development with FMOD Ex.

Package: libfmodevent4.44
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Designer API library for the FMOD Ex library
 FMOD is a cross platform audio library and toolset to let you easily
 implement the latest audio technologies into your title.
 .
 The FMOD Ex sound system is a revolutionary new audio engine for
 game developers, multimedia developers, sound designers, musicians
 and audio engineers, based on the years of experienced of Firelight
 Technologies(tm) previous product FMOD.
 It also aims high - to push the boundaries of audio implementation
 for games and the like while at the same time using minimal resources
 and being scalable. This new engine is written from the ground up
 since FMOD 3 was released and involves years of experience and
 feedback from FMOD users to create the most feature filled and easy
 to use product possible, without the rawbacks of legacy
 implementation that FMOD 3 may have suffered from its years of
 continuous development.

Package: libfmodevent4.44-dev
Section: libdevel
Architecture: any
Depends: libfmodevent4.44 (= ${binary:Version}),
         ${misc:Depends}
Description: Development package for the FMOD Ex Designer API
 FMOD is a cross platform audio library and toolset to let you easily
 implement the latest audio technologies into your title.
 .
 The FMOD Ex sound system is a revolutionary new audio engine for
 game developers, multimedia developers, sound designers, musicians
 and audio engineers, based on the years of experienced of Firelight
 Technologies(tm) previous product FMOD.
 It also aims high - to push the boundaries of audio implementation
 for games and the like while at the same time using minimal resources
 and being scalable. This new engine is written from the ground up
 since FMOD 3 was released and involves years of experience and
 feedback from FMOD users to create the most feature filled and easy
 to use product possible, without the rawbacks of legacy
 implementation that FMOD 3 may have suffered from its years of
 continuous development.
 .
 This package installs the header files and libraries
 needed to do development with the FMOD Ex Designer API.

Package: libfmodevent4.44-examples
Section: libdevel
Architecture: all
Depends: libfmodevent4.44-dev (= ${binary:Version}),
         ${misc:Depends}
Description: Development package for the FMOD Ex Designer API
 FMOD is a cross platform audio library and toolset to let you easily
 implement the latest audio technologies into your title.
 .
 The FMOD Ex sound system is a revolutionary new audio engine for
 game developers, multimedia developers, sound designers, musicians
 and audio engineers, based on the years of experienced of Firelight
 Technologies(tm) previous product FMOD.
 It also aims high - to push the boundaries of audio implementation
 for games and the like while at the same time using minimal resources
 and being scalable. This new engine is written from the ground up
 since FMOD 3 was released and involves years of experience and
 feedback from FMOD users to create the most feature filled and easy
 to use product possible, without the rawbacks of legacy
 implementation that FMOD 3 may have suffered from its years of
 continuous development.
 .
 This package installs example files for the FMOD Ex Designer API.

Package: fmodex-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: FMOD Ex documentation
 This package installs the FMOD documentation.
