Source: x265
Section: video
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Homepage: https://bitbucket.org/multicoreware/x265/wiki/Home
Standards-Version: 3.9.5
Build-Depends:
 debhelper (>= 9),
 cmake (>= 2.8.8),
 python3-sphinx,
 yasm (>= 1.2.0)
Vcs-Browser: https://bitbucket.org/multicoreware/x265/src

Package: x265
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libjs-jquery (>= 1.4),
 libjs-underscore
Provides: x265-doc
Replaces: x265-doc
Description: H.265/HEVC video encoder
 library for encoding video using the High
 Efficiency Video Coding (HEVC/H.265) standard.
