#!/usr/bin/make -f


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf converted_icons

override_dh_auto_build:
	../make-icons.sh XnView/xnview.png
	../make-icons.sh XnView/xnview_2.png
	rm -f XnView/UI/style_sheet_win.qss XnView/UI/style_sheet_mac.qss
	chrpath -d XnView/XnView `find XnView/ -type f -name *.so*`

override_dh_installchangelogs:
	dh_installchangelogs XnView/WhatsNew.txt

override_dh_makeshlibs:

override_dh_shlibdeps:
	#dh_shlibdeps -Lxnviewmp -l/usr/lib/xnviewmp/lib

override_dh_builddeb:
	dh_builddeb -- -Zxz

