#!/usr/bin/make -f

VERSION = $(shell dpkg-parsechangelog -SVersion | cut -d- -f1)

# set all flags manually instead of substracting certain flags
# from dpkg-buildflags's output
CFLAGS   := -O3 -Wformat -Werror=format-security
CXXFLAGS := -O3 -Wformat -Werror=format-security
CPPFLAGS := -D_FORTIFY_SOURCE=2
LDFLAGS  := -Wl,-z,relro -Wl,-z,defs -Wl,--as-needed \
	-L$(CURDIR)/x265-10bit \
	-L$(CURDIR)/x265-12bit

confflags = -DENABLE_SHARED=OFF \
	-DENABLE_AGGRESSIVE_CHECKS=ON \
	-DENABLE_PIC=ON


%:
	dh $@ --parallel --buildsystem=cmake \
		--sourcedirectory=source \
		--builddirectory=x265-8bit

override_dh_auto_clean:
	dh_auto_clean
	rm -rf doc/reST/build x265-8bit x265-10bit x265-12bit
	rm -f x265.pc

override_dh_auto_configure:
	dh_auto_configure --builddirectory=x265-10bit -- \
		$(confflags) \
		-DENABLE_CLI=OFF \
		-DEXPORT_C_API=OFF \
		-DHIGH_BIT_DEPTH=ON
	dh_auto_configure --builddirectory=x265-12bit -- \
		$(confflags) \
		-DENABLE_CLI=OFF \
		-DEXPORT_C_API=OFF \
		-DHIGH_BIT_DEPTH=ON \
		-DMAIN12=ON
	dh_auto_configure -- \
		$(confflags) \
		-DLIB_INSTALL_DIR=lib/$(DEB_HOST_MULTIARCH) \
		-DEXTRA_LIB="x265_main10.a;x265_main12.a;-ldl" \
		-DLINKED_10BIT=ON \
		-DLINKED_12BIT=ON
	sed -e 's|@DEB_HOST_MULTIARCH@|$(DEB_HOST_MULTIARCH)|g; s|@VERSION@|$(VERSION)|g' \
		debian/x265.pc.in > x265.pc

override_dh_auto_build:
	dh_auto_build --builddirectory=x265-10bit
	dh_auto_build --builddirectory=x265-12bit
	mv x265-10bit/libx265.a x265-10bit/libx265_main10.a
	mv x265-12bit/libx265.a x265-12bit/libx265_main12.a
	dh_auto_build
	$(MAKE) -C doc/reST html man

override_dh_auto_install:
	dh_auto_install
	install -m644 -D x265.pc debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig
	install -m644 -D x265-10bit/libx265_main10.a debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)
	install -m644 -D x265-12bit/libx265_main12.a debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_installdocs:
	dh_installdocs
	dh_sphinxdoc

