#!/usr/bin/make -f

CXXFLAGS += -Wno-maybe-uninitialized


%:
	dh ${@} --parallel --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --bindir=/usr/games \
		--datadir=/usr/share/games \
		--with-glew \
		--disable-silent-rules

