#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
VERSION = $(shell dpkg-parsechangelog | grep -e "Version:" | cut -d' ' -f2 | cut -d'-' -f1)

ARCH = i386
ifeq ($(DEB_HOST_ARCH),amd64)
ARCH = x86_64
endif


CXXFLAGS = $(filter-out -g -O2,$(shell dpkg-buildflags --get CXXFLAGS))

DH_INSTALL_FILES = debian/libovr0.install \
                   debian/libovr0.links \
                   debian/libovr-dbg.install \
                   debian/libovr-dev.install \
                   debian/libovr-dev.links

%:
	dh ${@} --parallel

$(DH_INSTALL_FILES):
	sed -e 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' $@.in > $@

override_dh_auto_clean:
	rm -rf converted_icons
	rm -f *.a *.so* debian/ovr.pc OculusSDK/README $(DH_INSTALL_FILES)

override_dh_auto_configure: $(DH_INSTALL_FILES)
	cp OculusSDK/LINUX_README OculusSDK/README
	sed -e 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g; s/@VERSION@/$(VERSION)/g' \
		debian/ovr.pc.in > debian/ovr.pc

override_dh_auto_build:
	../../make-icons.sh riftconfigutil.png

	# static libraries
	dh_auto_build -DOculusSDK/LibOVR -- libovr.a
	mv libovr.a libovr_static.a
	dh_auto_build -DOculusSDK/LibOVR -- clean
	dh_auto_build -DOculusSDK/LibOVR -- libovr.a DEBUG=1
	mv libovr.a libovr_debug.a

	rm -rf OculusSDK/LibOVR/Obj \
	OculusSDK/3rdParty/EDID/edid.o \
	OculusSDK/3rdParty/TinyXml/tinyxml2.o

	# shared library
	CXXFLAGS='$(CXXFLAGS) -fPIC' \
	dh_auto_build -DOculusSDK/LibOVR -- libovr.so DEBUG=1

	sed -i 's@"../Src@<OVR@g; s@.h"@.h>@g' OculusSDK/LibOVR/Include/OVR.h
	rm -f OculusSDK/LibOVR/Src/OVR_Win32_*
	rm -f OculusSDK/LibOVR/Src/OVR_OSX_*

override_dh_install:
	dh_install -Nlibovr-dev
	dh_install -plibovr-dev -X.cpp

override_dh_strip:
	dh_strip -Xlibovr_debug.a --dbg-package=libovr-dbg

override_dh_compress:
	dh_compress -X.pdf

override_dh_gencontrol:
	dh_gencontrol
	# prevents Lintian warning virtual-package-depends-without-real-package-depends
	sed -i 's/, libgl1,/, libgl1-mesa-glx | libgl1,/g' debian/riftconfigutil/DEBIAN/control
	sed -i 's/, libgl1,/, libgl1-mesa-glx | libgl1,/g' debian/libovr0/DEBIAN/control

override_dh_builddeb:
	dh_builddeb -Noculusvr-sdk-examples -- -Zxz -z9
	dh_builddeb -poculusvr-sdk-examples

