#!/usr/bin/make -f


%:
	dh $@ --parallel --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --disable-shared --disable-silent-rules

override_dh_auto_install:

override_dh_installchangelogs:
	dh_installchangelogs NEWS

