[Desktop Entry]
Type=Application
Name=IFME
GenericName=Internet Friendly Media Encoder
Comment=Simple, Flexible & Powerful H.265/HEVC video encoder
Icon=ifme
Exec=ifme-gui
Terminal=false
StartupNotify=true
Categories=AudioVideo;AudioVideoEditing;
