Source: gzdoom
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9),
               cmake,
               libbz2-dev,
               libfluidsynth-dev,
               libgme-dev,
               libgtk-3-dev,
               libjpeg-dev,
               libmpg123-dev,
               libopenal-dev,
               libsdl2-dev,
               libsndfile-dev,
               zlib1g-dev
Standards-Version: 3.9.5
Vcs-Git: https://github.com/coelckers/gzdoom.git
Vcs-Browser: https://github.com/coelckers/gzdoom
Homepage: http://gzdoom.drdteam.org/

Package: gzdoom
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         zenity
Description: OpenGL Doom engine
 GZDoom is a modder-friendly OpenGL source port based on the DOOM engine.

Package: gzdoom-freedoom
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         freedoom-iwads,
         gzdoom
Description: Play Freedoom with OpenGL engine
 GZDoom is a modder-friendly OpenGL source port based on the DOOM engine.
 .
 This package will install a launcher to play Freedoom.
