#!/usr/bin/make -f

LDFLAGS += -Wl,--as-needed


%:
	dh ${@} --parallel

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build

override_dh_auto_configure:
	mkdir build
	cd build && cmake .. \
		-DCMAKE_VERBOSE_MAKEFILE=ON \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_BUILD_TYPE=None \
		-DCMAKE_SKIP_RPATH=ON \
		-DFORCE_INTERNAL_BZIP2=OFF \
		-DFORCE_INTERNAL_GME=OFF \
		-DFORCE_INTERNAL_JPEG=OFF \
		-DFORCE_INTERNAL_ZLIB=OFF

override_dh_auto_build:
	dh_auto_build -Dbuild

