#!/usr/bin/make -f

CFLAGS   = $(filter-out -g -Werror=%, $(shell dpkg-buildflags --get CFLAGS)) -Wno-unused-result -Wno-unused-but-set-variable
CXXFLAGS = $(filter-out -g -Werror=%, $(shell dpkg-buildflags --get CXXFLAGS)) -Wno-unused-result
LDFLAGS  = $(filter-out %-Bsymbolic%, $(shell dpkg-buildflags --get LDFLAGS)) -Wl,--as-needed


%:
	dh ${@} --parallel -Bbuild

override_dh_auto_configure:
	dh_auto_configure -Scmake -- \
		-DCMAKE_SKIP_RPATH=ON \
		-DFORCE_INTERNAL_BZIP2=OFF \
		-DFORCE_INTERNAL_GME=OFF \
		-DFORCE_INTERNAL_JPEG=OFF \
		-DFORCE_INTERNAL_ZLIB=OFF

