#!/usr/bin/make -f

CFLAGS   =
CXXFLAGS =
LDFLAGS  =

common_flags = -O3 -fno-strict-aliasing -fstack-protector-strong -Wno-maybe-uninitialized


%:
	dh ${@} --parallel -Bbuild

override_dh_auto_configure:
	dh_auto_configure -Scmake -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_C_FLAGS="$(common_flags)" \
		-DCMAKE_CXX_FLAGS="$(common_flags)" \
		-DCMAKE_SKIP_RPATH=ON \
		-DFORCE_INTERNAL_BZIP2=OFF \
		-DFORCE_INTERNAL_GME=OFF \
		-DFORCE_INTERNAL_JPEG=OFF \
		-DFORCE_INTERNAL_ZLIB=OFF \
		-DDYN_FLUIDSYNTH=OFF \
		-DDYN_GTK=OFF \
		-DDYN_MPG123=OFF \
		-DDYN_OPENAL=OFF \
		-DDYN_SNDFILE=OFF \
		-DSEND_ANON_STATS=OFF

