#!/usr/bin/make -f


%:
	dh $@

override_dh_installdocs:
	dh_installdocs --link-doc=thegame

override_dh_installchangelogs:
	dh_installchangelogs files/ChangeLog

override_dh_strip:
	dh_strip --dbg-package=thegame-dbg

override_dh_shlibdeps:

override_dh_gencontrol:
	dh_gencontrol
	sed -i 's/Architecture: i386/Architecture: amd64/g' debian/thegame/DEBIAN/control
	sed -i 's/Architecture: i386/Architecture: amd64/g' debian/thegame-dbg/DEBIAN/control

