#!/usr/bin/make -f

LDFLAGS += -Wl,--as-needed


%:
	dh ${@} --parallel

override_dh_auto_build:
	dh_auto_build -- LINKED_GTK=1

override_dh_install:
	dh_install
	./make-icons.sh eduke32.png $(CURDIR)/debian/eduke32/usr/share

# will fail
override_dh_auto_test:

