Source: enhaacplus
Section: non-free/sound
Priority: optional
Maintainer: djcj <djcj@gmx.de>
Standards-Version: 3.9.5
Build-Depends:
 debhelper (>= 9),
 gcc-multilib,
 g++-multilib,
 unzip
Homepage: http://www.3gpp.org/DynaReport/26410.htm

Package: enhaacplusenc
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: 3GPP Enhanced aacPlus encoder
 HE-AAC audio v2 (with SBR + PS) is the superb audio encoder used to encode
 high quality audio at really low bitrates (32 kbit/s).
 .
 Depending on law in your country, you may need a license for distribution,
 any use, commercial use or even development.
