Source: nightingale
Section: sound
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends:
 debhelper (>= 9),
 automake,
 autoconf2.13,
 autotools-dev,
 libtool,
 cmake,
 libasound2-dev,
 libbz2-dev,
 libcairo2-dev,
 libdbus-glib-1-dev,
 libevent-dev,
 libfreetype6-dev,
 libgnomevfs2-dev,
 libgstreamer-plugins-base0.10-dev,
 libgtk2.0-dev,
 libharfbuzz-dev,
 libhunspell-dev,
 libidl-dev,
 libjpeg-turbo8-dev,
 libnotify-dev,
 libnspr4-dev,
 libnss3-dev,
 libpixman-1-dev,
 libpng12-dev,
 libsqlite0-dev,
 libsqlite3-dev,
 libxext-dev,
 libxt-dev,
 unzip,
 zip,
 zlib1g-dev
Standards-Version: 3.9.6
Homepage: http://www.getnightingale.com
Vcs-Browser: https://github.com/nightingale-media-player/nightingale-hacking
Vcs-Git: https://github.com/nightingale-media-player/nightingale-hacking.git

Package: nightingale
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         gstreamer0.10-plugins-good,
         gstreamer0.10-plugins-bad,
         gstreamer0.10-plugins-ugly
Suggests: gstreamer0.10-ffmpeg,
          gtk2-engines-pixbuf,
          gnome-settings-daemon
Provides: nightingale,
          nightingale-nounity,
          nightingale-common
Replaces: nightingale,
          nightingale-nounity,
          nightingale-common
Description: Play, manage and organize digital media
 This desktop media player is a digital jukebox and Web browser mash-up.
 It supports extensions and feathers (skins). Like Firefox/Iceweasel,
 it is built from the Mozilla cross-platform and open source framework,
 and based on Songbird.

