#!/usr/bin/make -f

depsdir = nightingale-deps/linux-$(shell uname -m)

export V=1
export CXXFLAGS = \
	$(filter-out -g,$(shell dpkg-buildflags --get CXXFLAGS)) \
	-fomit-frame-pointer \
	-Wno-delete-non-virtual-dtor \
	-Wno-unused-but-set-variable \
	-I/usr/include/nspr \
	$(shell dpkg-buildflags --get CPPFLAGS)
export LDFLAGS = $(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed

ac_add_options = \
	--with-taglib-source=packaged \
	--enable-libnotify \
	--enable-system-nspr \
	--enable-jars=no \
	--enable-official


%:
	dh ${@} --parallel

override_dh_auto_clean:
	dh_auto_clean -- clobber
	dh_auto_clean -Dnightingale-deps
	rm -f addons/*.xpi *.xpi

override_dh_auto_configure:

override_dh_auto_build:
	cd nightingale-deps && ./lint-build.sh
	rm -rf $(depsdir)/mozilla-1.9.2/debug \
		$(depsdir)/sqlite/debug \
		$(depsdir)/taglib/debug \
		$(depsdir)/xulrunner-1.9.2/debug
	mv $(depsdir) dependencies
	dh_auto_clean -Dnightingale-deps

	$(foreach OPTION,$(ac_add_options),echo 'ac_add_options $(OPTION)' >> nightingale.config ;)
	dh_auto_build

	cp compiled/xpi-stage/minimizetotray/*.xpi minimizetotray.xpi
	addons/make.py addons/equalizerpane
	addons/make.py addons/newtab

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install

	cd debian/nightingale/usr/lib/nightingale/xulrunner && \
	  rm -rf chrome ../chrome dictionaries libnspr4.so LICENSE README.txt res
	cp -f debian/nightingale.links.in debian/nightingale.links

	prefix=debian/nightingale/usr ;\
	DIR=$$prefix/lib/nightingale/ ;\
	files=$$(\
		find $$DIR -name \*.png -printf '%p '; \
		find $$DIR -name \*.gif -printf '%p '; \
		find $$DIR -name \*.jpg -printf '%p '; \
		find $$DIR -name \*.xpm -printf '%p '; \
		find $$DIR -name \*.jar -printf '%p '; \
		);\
	for f in $$files; \
	do \
		in=$$(echo $$f | sed -e "s|$$prefix|/usr|") ;\
		out=$$(echo $$f | sed -e "s|$$prefix/lib|$$prefix/share|") ;\
		target=$$(echo $$out | sed -e "s|$$prefix|/usr|") ;\
		mkdir -v -p $$(dirname $$out) ;\
		mv -v $$f $$(dirname $$out) ;\
		echo $$target'      '$$in >> debian/nightingale.links ;\
	done

override_dh_shlibdeps:
	dh_shlibdeps -Lnightingale -l/usr/lib/nightingale/xulrunner

override_dh_clean:
	dh_clean debian/nightingale.links nightingale.config config.log

