#!/usr/bin/make -f

CXXFLAGS += -fno-strict-aliasing -ffunction-sections -fdata-sections -Wno-unused-result -Wno-unused-but-set-variable
LDFLAGS  += -Wl,--gc-sections -Wl,--as-needed


%:
	dh $@ --parallel --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --bindir=/usr/games

override_dh_installchangelogs:
	dh_installchangelogs NEWS

