#!/usr/bin/make -f

PKG = mrred


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf converted_icons assets runner

override_dh_auto_build:
	tar xvf mrred.tgz
	chmod 755 runner
	./make-icons.sh mrred.png

override_dh_shlibdeps:

override_dh_gencontrol:
	dh_gencontrol
	sed -i 's/Architecture: amd64/Architecture: i386/g' debian/$(PKG)/DEBIAN/control

