Source: animechecker
Section: utils
Priority: optional
Maintainer: djcj <djcj@gmx.de>
Build-Depends:
 debhelper (>= 9),
 dos2unix,
 imagemagick,
 librsvg2-bin,
 upx-ucl,
 xdelta
Standards-Version: 3.9.5
Homepage: http://animechecker.sourceforge.net/

Package: animechecker
Architecture: amd64 i386
Depends:
 libatk1.0-0 (>= 1.12.4),
 libc6 (>= 2.3.6-6~),
 libcairo2 (>= 1.2.4),
 libfontconfig1 (>= 2.9.0),
 libgdk-pixbuf2.0-0 (>= 2.22.0),
 libglib2.0-0 (>= 2.12.0),
 libgtk2.0-0 (>= 2.24.0),
 libpango-1.0-0 (>= 1.14.0),
 libpangocairo-1.0-0 (>= 1.14.0),
 libx11-6,
 libxrender1,
 libxtst6,
 zlib1g (>= 1:1.1.4),
 ${misc:Depends}
Description: graphical CRC32 checksum calculator
 Anime Checker is a tool that calculates the CRC32 of your files.
 The CRC is a 8 hexadecimal characters that most fansubbers include at the end
 of their releases filename (like my_video_[A3B6DF52].avi).
 To check the file integrity, Anime Checker will compute the CRC value of the
 file and compare it with the given CRC value. If it's the same, there are
 nothing wrong with the file. If it's not the same, the file is probably
 corrupted or incomplete.
