#!/usr/bin/make -f

unneeded_libs = \
	libXinerama.so.1 libXdamage.so.1 libXcursor.so.1 libXcomposite.so.1 \
	libXfixes.so.3 libXext.so.6 libXi.so.6 libXrandr.so.2 libgmodule-2.0.so.0


%:
	dh ${@} --parallel

override_dh_auto_clean:
	rm -f *.txt acc animechecker patchelf
	rm -rf converted_icons

override_dh_auto_build:
	tar jxf animechecker-0.9.6.1-linux-i386-bin.tar.bz2
	dos2unix changelog.txt
	upx-ucl -d acc animechecker
	strip -s acc animechecker
	g++ -w -s -DPACKAGE_STRING="\"PatchELF 0.8\"" -DHAVE_SYSCONF=1 -DHAVE_ELF_H=1 -o patchelf patchelf.cpp
	$(foreach LIB,$(unneeded_libs),./patchelf --remove-needed $(LIB) animechecker ;)
	./make-icons.sh animechecker.svg

override_dh_strip:

override_dh_installchangelogs:
	dh_installchangelogs changelog.txt

