Source: rbdoom3bfg
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9),
               cmake (>= 2.8),
               imagemagick,
               libglew-dev,
               libjpeg8-dev,
               libsdl2-dev,
               libopenal-dev,
               libpng12-dev,
               libavcodec-dev,
               libavformat-dev,
               libavutil-dev,
               libswscale-dev,
               zlib1g-dev
Standards-Version: 3.9.5
Vcs-Git: https://github.com/RobertBeckebans/RBDOOM-3-BFG.git
Vcs-Browser: https://github.com/RobertBeckebans/RBDOOM-3-BFG
Homepage: https://github.com/RobertBeckebans/RBDOOM-3-BFG

Package: rbdoom3bfg
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: rbdoom3bfg-sdl2,
          rbdoom3bfg-data
Replaces: rbdoom3bfg-sdl2,
          rbdoom3bfg-data
Description: Doom 3 BFG Edition
 An open source engine for the Doom 3 BFG Edition.
 .
 This release does not contain any game data, the game
 data is still covered by the original EULA and must be
 obeyed as usual. Information on how to install those
 files can be found in the package's readme file or manpage.

