[Desktop Entry]
Name=Battle Jump Level Manager
Exec=BattleJumpLevelManager
Type=Application
Categories=Game;
StartupNotify=true
Icon=BattleJumpLevelManager
