#!/usr/bin/make -f

VERSION = $(shell dpkg-parsechangelog -SVersion)


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf go-ipfs/ ipfs.1

override_dh_auto_build:
	tar xvf go-ipfs.tgz
	help2man -n IPFS -s1 -N --version-string=$(VERSION) go-ipfs/ipfs > ipfs.1

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md

