Source: doom3-demo
Section: games
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: doom3-demo
Architecture: amd64 i386
Depends: libgcc1 (>= 1:4.1.1), libc6 (>= 2.1.3), libstdc++5 (>= 1:3.3.6-15), libx11-6, libxext6
Recommends: libasound2-plugins
Description: Doom 3 demo
 Doom 3 is an fps game from id Software.
