#!/usr/bin/make -f

BIN = doom3-linux-1.1.1286-demo.x86.run


%:
	dh ${@}

override_dh_auto_build:
	chmod a+x $(BIN)
	./$(BIN) --target temp --noexec
	chmod a-x temp/gamex86.so

override_dh_makeshlibs:
	# don't need it

override_dh_shlibdeps:
	# don't need it

override_dh_gencontrol:
	dh_gencontrol
	sed -i 's/Architecture: amd64/Architecture: i386/g' debian/doom3-demo/DEBIAN/control

override_dh_builddeb:
	dh_builddeb -- -z3
