#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
libdir = $(CURDIR)/debian/nix/usr/lib/$(DEB_HOST_MULTIARCH)

CPPFLAGS := $(shell dpkg-buildflags --get CPPFLAGS)
export GLOBAL_CFLAGS = $(filter-out -g -O2,$(shell dpkg-buildflags --get CFLAGS)) $(CPPFLAGS)
export GLOBAL_CXXFLAGS = $(filter-out -g -O2,$(shell dpkg-buildflags --get CXXFLAGS)) $(CPPFLAGS)
export GLOBAL_LDFLAGS = $(shell dpkg-buildflags --get LDFLAGS)

docbookxsl=/usr/share/xml/docbook/stylesheet/docbook-xsl
docbookrng=$(docbookxsl)/slides/schema/relaxng/docbook.rng
export Store_LDFLAGS = -lperl -pthread
export SET_RPATH_TO_LIBS=0
export V=1


%:
	dh ${@} --parallel --with autoreconf

override_dh_auto_clean:
	[ ! -f Makefile.config ] || dh_auto_clean

override_dh_auto_configure:
	dh_auto_configure -- --enable-gc

override_dh_auto_build:
	dh_auto_build -- all doc/manual/manual.pdf \
	docbookxsl=$(docbookxsl) docbookrng=$(docbookrng)

override_dh_auto_install:
	dh_auto_install
	mv $(CURDIR)/debian/nix/usr/lib/pkgconfig $(libdir)/pkgconfig
	mv $(CURDIR)/debian/nix/usr/share/emacs $(CURDIR)/debian/nix/usr/share/emacs24
	ln -fs /usr/bin/bsdiff $(libdir)/nix/bsdiff
	ln -fs /usr/bin/bspatch $(libdir)/nix/bspatch
	ln -fs nix-daemon.8.gz $(CURDIR)/debian/nix/usr/share/man/man8/nix-worker.8.gz

