#!/usr/bin/make -f

PKG = libdivx6.1.1-dev


%:
	dh $@

override_dh_auto_clean:
	rm -rf patchelfmod-master tmp README

override_dh_auto_configure:
	tar xvf patchelfmod.tar.gz
	autoreconf -ifv patchelfmod-master
	dh_auto_configure -Dpatchelfmod-master

override_dh_auto_build:
	dh_auto_build -Dpatchelfmod-master -- check
	unzip -d tmp -P h08pzt4 contents.dat
	mv tmp/lib/libdivx.so tmp/lib/libdivx.so.6.1.1
	execstack -c tmp/lib/libdivx.so.6.1.1
	# fake soname version, like in libjpeg
	patchelfmod-master/src/patchelfmod -d -S libdivx.so.6.1.1 tmp/lib/libdivx.so.6.1.1
	cp -f README.linux README

override_dh_strip:

override_dh_shlibdeps:

override_dh_gencontrol:
	dh_gencontrol
	sed -i 's/Architecture: amd64/Architecture: i386/g' debian/$(PKG)/DEBIAN/control

