#!/usr/bin/make -f


%:
	dh $@

override_dh_auto_clean:
	rm -rf patchelfmod-master tmp README

override_dh_auto_configure:
	tar xvf patchelfmod.tar.gz
	autoreconf -ifv patchelfmod-master
	dh_auto_configure -Dpatchelfmod-master

override_dh_auto_build:
	dh_auto_build -Dpatchelfmod-master -- check
	unzip -d tmp -P h08pzt4 contents.dat
	execstack -c tmp/lib/libdivx.so
	patchelfmod-master/src/patchelfmod -d -S libdivx.so tmp/lib/libdivx.so
	cp -f README.linux README

override_dh_strip:

